@()

@main {
<title>About MyFleetGirls</title>
} {
@navbar("about")

<div class="container theme-showcase" role="main">
  <div class="jumbotron">
    <h1>MyFleetGirls とは</h1>
    @tweet()
    <ul>
      <li><a href="@routes.Assets.at("zip/MyFleetGirls.zip")">Downloader Download</a></li>
      <li><a href="https://github.com/ponkotuy/MyFleetGirls">GitHub(ponkotuy/MyFleetGirls)</a></li>
      <li><a href="https://mobislenotes.com/preview/0f70fa89801b7bb075e2">TODOリスト</a></li>
      <li><a href="http://d.hatena.ne.jp/ponkotuy/20140312/1394647735">Hatena::Diary</a></li>
      <li><a href="https://twitter.com/ponkotuy/">作者のTwitter(@@ponkotuy)</a></li>
    </ul>
  </div>

  <section>
    <h2>なにこれ</h2>
    <p>自分の艦これデータをこのサーバに送って公開できるツールです。</p>
    <p>艦これやってて「艦これの進捗、他人にサッと見せれたら便利だなー」と思って作りました。</p>
    <p>一応他の艦これツールにありがちな遠征時間などのチェック機能も付いてます。</p>
  </section>

  <section>
    <h2>インストール・使い方</h2>
    <ol>
      <li>Java7（JRE7）以降がインストールされてない場合はする <a href="http://java.com/ja/download/">JavaDownload</a></li>
      <li><a href=@routes.Assets.at("zip/MyFleetGirls.zip")>DownloaderのDownload</a></li>
      <li>ZIPファイルを解凍</li>
      <li>MyFleetGirls.shかMyFleetGirls.batを起動する（ここで自動アップデートも走ります）。エラーで終了して問題無い</li>
      <li>application.conf.sampleをコピーしてapplication.confというファイルを作る</li>
      <li>application.confをテキストエディタで開き、自分の艦これサーバのIPアドレスを設定。初期設定はブイン基地になってます</li>
      <li>ブラウザのProxy設定</li>
      <ol>
        <li>特定アドレスへの通信にProxyを設定するaddon等をインストール。Chromeなら<a href="https://chrome.google.com/webstore/detail/proxy-switchysharp/dpplabbmogkhghncfbfdeeokoefdjegm">Proxy SwichySharp</a>、Firefoxなら<a href="https://addons.mozilla.org/ja/firefox/addon/foxyproxy-standard/">FoxyProxy</a>で動作確認済</li>
        <li>前に設定した艦これサーバのIPアドレスのアクセスをlocalhost:8080へ転送する</li>
        <li>Proxy SwichySharpの設定の詳細は<a href="http://d.hatena.ne.jp/ponkotuy/20140330/1396184917">HatenaDialy</a></li>
      </ol>
      <li>MyFleetGirls.shかMyFleetGirls.batを起動する（ここでエラーの場合はapplication.confの設定が間違っている）</li>
      <li>先程設定したブラウザで艦これのFlashを起動する</li>
      <li>しばらくゲームが進んだ後に http://myfleet.ponkotuy.com/u/{ユーザ名} にアクセスすると閲覧できる</li>
    </ol>
  </section>

  <section>
    <h2>注意事項</h2>
    <ul>
      <li>艦これのデータはぽんこつさんや他の人に丸見えになります。（パスワード類は除く）</li>
      <li>Token等認証系の情報はこちらの鯖に送らないように気をつけましたが、技術的には全然できてしまうので、ぽんこつさんを信用するか、コード読める人じゃない限りやめましょう</li>
    </ul>
  </section>

  <section>
    <h2>Change Log</h2>
    <ul>
      <li><span class="label label-warning">Client</span>は各ユーザのProxy Serverのバージョンアップ</li>
      <li><span class="label label-info">Server</span>はサーバ側のバージョンアップです</li>
      <li><span class="label label-primary">Common</span>は全体のバージョンアップで比較的大きい変更が多いです</li>
    </ul>
    <h3>Ver0.9.5</h3>
    <ul>
      <li><span class="label label-info">Server</span>ドックでサウンドが鳴る機能を追加</li>
    </ul>
    <h3>Ver0.9.4</h3>
    <ul>
      <li><span class="label label-info">Server</span>細いUIの修正</li>
      <li><span class="label label-primary">Common</span>とある機能の仕込み</li>
    </ul>
    <h3>Ver0.9.3</h3>
    <ul>
      <li><span class="label label-info">Server</span>名前から装備開発レシピが検索できる機能追加</li>
      <li><span class="label label-info">Server</span>極稀に提督Lvランキングで重複するバグを修正</li>
    </ul>
    <h3>Ver0.9.2</h3>
    <ul>
      <li><span class="label label-info">Server</span>装備開発統計を追加</li>
      <li><span class="label label-info">Server</span>Conditionの色を変更</li>
    </ul>
    <h3>Ver0.9.1</h3>
    <ul>
      <li><span class="label label-warning">Client</span>ダウンローダサイズ圧縮（ダウンローダーが6MB→12KB）</li>
      <li><span class="label label-warning">Client</span>ダウンローダ仕様変更（手動で再インストールが必要です）</li>
      <li><span class="label label-info">Server</span>Material Viewの謎の表示を削除</li>
    </ul>
    <h3>Ver0.9.0</h3>
    <ul>
      <li><span class="label label-primary">Common</span>Client自動アップデート機能を追加</li>
      <li><span class="label label-primary">Common</span>艦種を表示</li>
      <li><span class="label label-primary">Common</span>高速建造をONにして建造すると建造データが送られないバグを修正</li>
      <li><span class="label label-warning">Client</span>装備開発で間違ったFlagshipを送るバグを修正</li>
      <li><span class="label label-info">Server</span>新規登録提督が間違っているバグを修正</li>
    </ul>
    <h3>Ver0.8.9</h3>
    <ul>
      <li><span class="label label-info">Server</span>艦娘のConditionに色付け</li>
      <li><span class="label label-info">Server</span>その他細かい見せ方の修正</li>
    </ul>
    <h3>Ver0.8.8</h3>
    <ul>
      <li><span class="label label-info">Server</span>艦娘名から建造レシピを検索する機能を追加</li>
      <li><span class="label label-info">Server</span>艦隊リストを表示</li>
    </ul>
    <h3>Ver0.8.7</h3>
    <ul>
      <li><span class="label label-info">Server</span>提督検索機能を追加</li>
    </ul>
    <h3>Ver0.8.6</h3>
    <ul>
      <li><span class="label label-info">Server</span>装備所持艦娘リストを追加</li>
    </ul>
    <h3>Ver0.8.5</h3>
    <ul>
      <li><span class="label label-info">Server</span>装備リストを追加</li>
    </ul>
    <h3>Ver0.8.4</h3>
    <ul>
      <li><span class="label label-info">Server</span>建造統計画面を改良</li>
    </ul>
    <h3>Ver0.8.3</h3>
    <ul>
      <li><span class="label label-info">Server</span>建造統計画面の追加</li>
      <li><span class="label label-info">Server</span>建造・開発のPagingを追加</li>
    </ul>
    <h3>Ver0.8.2</h3>
    <ul>
      <li><span class="label label-info">Server</span>Tweetボタンを追加</li>
    </ul>
    <h3>Ver0.8.1</h3>
    <ul>
      <li><span class="label label-info">Server</span>各艦娘詳細情報を追加</li>
    </ul>
    <h3>Ver0.8.0</h3>
    <ul>
      <li><span class="label label-primary">Common</span>装備情報を表示</li>
    </ul>
    <h3>Ver0.7.0</h3>
    <ul>
      <li><span class="label label-primary">Common</span>海域進捗を表示</li>
      <li><span class="label label-info">Server</span>routesのこまいところを修正</li>
    </ul>
    <h3>Ver0.6.3</h3>
    <ul>
      <li><span class="label label-info">Server</span>navbar表示を追加</li>
      <li><span class="label label-info">Server</span>画像URLにHEAD Methodを実装</li>
    </ul>
    <h3>Ver0.6.2</h3>
    <ul>
      <li><span class="label label-warning">Client</span>建造・開発履歴が更新されないバグを修正</li>
    </ul>
    <h3>Ver0.6.1</h3>
    <ul>
      <li><span class="label label-info">Server</span>嫁艦が間違っているバグを修正</li>
      <li><span class="label label-warning">Client</span>初期設定のurl.postをponkotuy.com:9003に変更</li>
    </ul>
    <h3>Ver0.6.0</h3>
    <ul>
      <li><span class="label label-info">Server</span>嫁艦・旗艦情報表示を追加</li>
      <li><span class="label label-warning">Client</span>画像upload機能を追加</li>
      <li><span class="label label-info">Server</span>ユーザページのURLを分離</li>
    </ul>
    <h3>Ver0.5.1</h3>
    <ul>
      <li><span class="label label-info">Server</span>装備開発履歴に旗艦の表示を追加</li>
    </ul>
    <h3>Ver0.5.0</h3>
    <ul>
      <li><span class="label label-warning">Client</span>Postできない致命的なバグを修正</li>
      <li><span class="label label-warning">Client</span>改の画像が異なる場合は別で中破画像の有無が付くように</li>
    </ul>
    <h3>Ver0.4.1</h3>
    <ul>
      <li><span class="label label-primary">Common</span>Master登録者を追加</li>
    </ul>
    <h3>Ver0.4.0</h3>
    <ul>
      <li><span class="label label-primary">Common</span>艦船・装備図鑑を実装</li>
    </ul>
    <h3>Ver0.3.1</h3>
    <ul>
      <li><span class="label label-info">Server</span>zipファイルの中身変更</li>
    </ul>
    <h3>Ver0.3.0</h3>
    <ul>
      <li><span class="label label-primary">Common</span>装備開発履歴を実装</li>
    </ul>
    <h3>Ver0.2.1</h3>
    <ul>
      <li><span class="label label-info">Server</span>zipファイルを追加</li>
    </ul>
    <h3>Ver0.2.0</h3>
    <ul>
      <li><span class="label label-warning">Client</span>艦これサーバ過負荷時にTimeoutする問題を多分修正
      <li><span class="label label-info">Server</span>バージョン情報表示</li>
      <li><span class="label label-info">Server</span>Change Log付与</li>
    </ul>
    <h3>Ver0.1.0</h3>
    <ul>
      <li><span class="label label-primary">Common</span>バージョン付与</li>
    </ul>
    <h3>Ver0.1.0-SNAPSHOT</h3>
    <ul>
      <li><span class="label label-primary">Common</span>Release Version</li>
    </ul>
  </section>
</div>
}
