@(newest: Seq[Admiral], highLv: Seq[AdmiralWithLv])

@main {
<title>MyFleetGirls</title>
} {
@navbar("top")

<div class="container theme-showcase" role="main">
  <div class="jumbotron">
    <h1>MyFleetGirls<small>俺の艦娘</small></h1>
    <p>自分の艦娘を自慢したい提督に送る艦これ公開ツール</p>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h2>New</h2>
      <ul>
        @newest.map { a =>
          <li><a href="/user/@a.id">@a.nickname</a></li>
        }
      </ul>
    </div>
    <div class="col-md-4">
      <h2>提督Lv順</h2>
      <ul>
        @highLv.map { a =>
          <li><a href="/user/@a.id">@a.nickname</a><small>Lv@a.lv</small></li>
        }
      </ul>
    </div>
  </div>
</div>
}
