@(auth: Auth, basic: Basic)

@main {
<title>@{auth.nickname}提督の艦これ情報</title>
<script src="https://www.google.com/jsapi"></script>
<script src=@routes.Assets.at("javascript/material.js")></script>
<style>
  div.chart {
    width: 900px;
    height: 640px;
  };
</style>
} {
<input type="text" id="userid" value=@auth.id hidden="hidden" />
<div class="container theme-showcase" role="main">
  <div class="jumbotron">
    <h1>@{auth.nickname}提督</h1>
    <p>Lv@{basic.lv} Rank@{basic.rank}</p>
  </div>

  <div class="page-header">
    <h1>4資源</h1>
  </div>
  <div id="material_chart" class="chart"></div>

  <div class="page-header">
    <h1>その他資源</h1>
  </div>
  <div id="otherm_chart" class="chart"></div>
</div>
}
