@(initUser: String, back: String, baseCounts: Seq[(UserSettings, Long)])

@main {
  <title>MyFleetGirls Login</title>
  <script src="@Js.Vue"></script>
  <script src="@Js.Coffee("login")"></script>
} {
  @navbar("login")
  <div id="login_form">
    <div class="alert alert-warning alert-dismissable" v-show="errorMsg.status">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <strong>{{ errorMsg.status }} {{ errorMsg.statusText }}</strong>: {{ errorMsg.responseText }}
    </div>

    <form class="form-horizontal" role="form">
      <input type="hidden" id="initUser" value="@initUser" />
      <input type="hidden" id="back" value="@back" />

      <div class="form-group">
        <label for="userId" class="col-sm-2 control-label">ID(数字)</label>
        <div class="col-sm-6">
          <input type="number" class="form-control" id="userId" v-model="userId" v-on="keyup: submit() | key enter" tabindex="1" />
        </div>
        <div class="col-sm-2">
          <button type="button" class="btn btn-default" data-toggle="collapse" aria-expanded="false" aria-controls="userSearch" href="#userSearch">
            提督検索
          </button>
        </div>
      </div>

      <div class="form-group collapse" id="userSearch">
        <div class="col-sm-offset-2 col-sm-9">
          <div class="row form-group">
            <label for="base_select" class="col-sm-2 control-label">所属基地</label>
            <div class="col-sm-6">
              <select class="form-control" id="base_select">
                <option value="-1">全基地</option>
                @baseCounts.map { case (u, count) =>
                  @u.server.map { server =>
                  <option value="@server.number">@server.name @count</option>
                  }
                }
              </select>
            </div>
          </div>

          <div class="row form-group">
            <label for="admiral-name" class="col-sm-2 control-label">提督名</label>
            <div class="col-sm-6">
              <input type="text" id="admiral-name" class="form-control" v-model="admiralName" />
            </div>
          </div>

          <div class="row form-group">
            <div class="col-sm-offset-2 col-sm-6">
              <p v-if="users.length == 0">Not Found</p>
              <ul id="admirals" v-if="users">
                <li v-repeat="user: users">
                  <a v-on="click: setAdmiral(user.id)" class="clickable">{{user.nickname}}</a><small>Lv{{user.lv}}</small>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="password" class="col-sm-2 control-label">
          <a href="@routes.ViewAbout.faq()#password">Password</a>
        </label>
        <div class="col-sm-8">
          <input type="password" class="form-control" id="password" v-model="password" v-on="keyup: submit() | key enter" tabindex="2" />
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-8">
          <button type="button" class="btn btn-primary" id="submit" v-on="click: submit()" tabindex="3">Login</button>
        </div>
      </div>
    </form>
  </div>
}
