@(active: String)
<script src="@routes.Assets.at("javascript/navbar.js")"></script>
<div class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse"></button>
      <a class="navbar-brand" href="@routes.View.index">MyFleetGirls</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="@if(active == "top") {active}">
          <a href="@routes.View.index">Top</a>
        </li>
        <li class="@if(active == "statistics") {active}">
          <a href="@routes.View.statistics">Statistics</a>
        </li>
        <li class="@if(active == "about") {active}">
          <a href="@routes.View.about">About</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" on-click="return false;"><span id="toggle_sound" class="glyphicon glyphicon-volume-up" style="color: #fff; font-size: 1.5em;"></span></a></li>
      </ul>
    </div>
  </div>
</div>
