@(active: String)
<link rel="stylesheet" href="@Css.BootstrapSwitch" />
<script src="@Js.Coffee("navbar")"></script>
<script src="@Js.BootstrapSwitch"></script>
<div style="margin-top: 0px; margin-bottom: 10px;">
  <div class="container">
    <div class="header">
      <button type="button" class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse"></button>
      <a class="navbar-brand" href="//myfleet.moe"><img src="@routes.Assets.at("MFGsTitle.png")" width="106px" height="51px" alt="MyFleetGirls" style="margin-top: -10px; margin-left: -10px; margin-right: 20px;"/></a>
    </div>
    <div>
      <ul class="nav nav-pills" style="margin-top: 10px">
        <li class="@if(active == "top") {active}">
          <a href="@routes.View.index()">Top</a>
        </li>
        <li class="@if(active == "statistics") {active}">
          <a href="@routes.ViewSta.activities()">Statistics</a>
        </li>
        <li class="@if(active == "about") {active}">
          <a href="@routes.ViewAbout.setup()">About</a>
        </li>
        <li class="@if(active == "login") {active}" style="margin-left: 80px">
          <a href="@routes.View.login("")" id="loginA">Login/Logout</a>
        </li>
        <li>
          <div style="margin-top: 6px;">
            <input type="checkbox" id="toggle_sound" style="" data-size="small"
              data-on-text='<span class="glyphicon glyphicon-volume-up" style="font-size: 1.2em;"></span>'
              data-off-text='<span class="glyphicon glyphicon-volume-off" style="font-size: 1.2em; width: 16px;"></span>' />
          </div>
        </li>
      </ul>
    </div>
    </div>
  </div>
