@(user: util.User, ships: Seq[ShipWithName])

@main {
  <title>@{user.admiral.nickname}提督 -艦娘-</title>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.13.3/css/theme.bootstrap.css" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.13.3/jquery.tablesorter.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.13.3/jquery.tablesorter.widgets.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.2/jquery.flot.min.js"></script>
  <script src="@routes.Assets.at("javascript/lib/jquery.flot.mouse.js")"></script>
  <script src="@routes.Assets.at("javascript/lib/jquery.flot.spider.js")"></script>
  <script src="@routes.Assets.at("javascript/lib/JUMFlot.min.js")"></script>

  <script src="@routes.Assets.at("javascript/ship.js")"></script>
} {
  @head_content(user) {
    @usertab("ship") {
      <div class="page-header">
        <h1>艦娘一覧</h1>
      </div>
      <table class="table table-striped table-condensed" id="ship_table">
        <thead>
          <tr>
            <th>ID</th><th>名前</th><th>Lv</th><th>Exp</th><th>HP</th><th>Cond</th><th>火力</th><th>雷装</th><th>対空</th><th>装甲</th><th>回避</th><th>対潜</th><th>索敵</th><th>運</th>
          </tr>
        </thead>
        <tbody>
          @ships.map { ship =>
          <tr>
            <td>@ship.id</td>
            <td><a data-toggle="modal" href="aship/@ship.id" class="modal_link" data-target="#modal">@ship.name</a></td>
            <td>@ship.lv</td>
            <td>@ship.exp%</td>
            <td>@ship.nowhp</td>
            <td>@ship.cond</td>
            <td>@ship.karyoku</td>
            <td>@ship.raisou</td>
            <td>@ship.taiku</td>
            <td>@ship.soukou</td>
            <td>@ship.kaihi</td>
            <td>@ship.taisen</td>
            <td>@ship.sakuteki</td>
            <td>@ship.lucky</td>
          </tr>
          }
        </tbody>
      </table>
      <div class="modal fade bs-example-modal-lg" aria-hidden="true" role="dialog" aria-labelledby="modalLabel" id="modal">
        <div class="modal-dialog modal-lg">
          <div class="modal-content"></div>
        </div>
      </div>
    }
  }
}
