@(user: util.User, counts: Seq[(models.MiniItem, Long)])

@main {
  <title>@{user.admiral.nickname}提督 -装備-</title>
  <script>
    $(function(){
      $('#modal').on('hidden.bs.modal', function(){
        $(this).removeData('bs.modal');
      });
    });
  </script>
} {
  @head_content(user) {
    @usertab("slotitem") {
      <div class="page-header">
        <h1>装備一覧</h1>
      </div>

      <table class="table table-hover table-condensed">
        <thead>
          <tr><th>名前</th><th>Count</th></tr>
        </thead>
        <tbody>
          @counts.map { case (item, count) =>
            <tr data-toggle="modal" href="@routes.UserView.shipslotitem(user.admiral.id, item.id)" data-target="#modal">
              <td>@item.name</td><td>@count</td>
            </tr>
          }
        </tbody>
      </table>

      <div class="modal" aria-hidden="true" role="dialog" aria-labelledby="modalLabel" id="modal">
        <div class="modal-dialog">
          <div class="modal-content"></div>
        </div>
      </div>
    }
  }
}
