@(counts: Map[models.Mat, Long])

@main {
  <title>統計 -建造開発-</title>
  <script src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.2/jquery.flot.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.2/jquery.flot.pie.min.js"></script>
} {
  @navbar("statistics")
  <div class="container theme-showcase" role="main">

    <div class="jumbotron">
      <h1>Statistics<small>統計</small></h1>
    </div>

    <ul class="nav nav-tabs">
      <li class="active">
        <a href="statistics">建造開発</a>
      </li>
    </ul>

    <div class="page-header">
      <h1>建造</h1>
    </div>
    <div class="tab-content">
      <table class="table table-hover table-condensed">
        <thead>
          <tr>
            <th>試行回数</th><th>燃料</th><th>弾薬</th><th>鉄鋼</th><th>ボーキ</th><th>資材</th>
          </tr>
        </thead>
        <tbody>
          @counts.map { case (mat, count) =>
            <tr data-toggle="modal" href="@routes.View.cship(mat.fuel, mat.ammo, mat.steel, mat.bauxite, mat.develop)" data-target="#modal">
              <td>@count</td>
              <td>@mat.fuel</td>
              <td>@mat.ammo</td>
              <td>@mat.steel</td>
              <td>@mat.bauxite</td>
              <td>@mat.develop</td>
            </tr>
          }
        </tbody>
      </table>
      <div class="modal" aria-hidden="true" role="dialog" aria-labelledby="modalLabel" id="modal">
        <div class="modal-dialog">
          <div class="modal-content"></div>
        </div>
      </div>
    </div>
  </div>
}
