@()
<div style="float:right; margin-top: 5px; margin-left: 5px;" id="tweet_button">
  <a href="https://twitter.com/share" class="twitter-share-button" data-lang="ja" id="tweet" data-hashtags="MyFleetGirls">ツイート</a>
</div>
<div style="float:right;">
  <div class="input-group input-group-sm favorite-group">
    <span class="input-group-btn">
      <button class="btn btn-default btn-add-favorite" type="button">
        <span class="text-warning glyphicon glyphicon-star"></span>
      </button>
    </span>
    <input type="text" readonly="readonly" class="form-control fav-counter" style="width:35px;" />
  </div>
</div>

