@(
  auth: Admiral,
  basic: Basic,
  ships: Seq[(Ship, MasterShip)],
  ndocks: Seq[NDockWithName],
  kdocks: Seq[KDockWithName],
  cShips: Seq[CreateShipWithName]
)

@rank(r: Int) = {
  @Map(
    1 -> "元帥", 2 -> "大将", 3 -> "中将", 4 -> "少将",
    5 -> "大佐", 6 -> "中佐", 7 -> "新米中佐",
    8 -> "少佐", 9 -> "中堅少佐", 10 -> "新米少佐"
  )(r)
}

@main {
<title>@{auth.nickname}提督 -MyFleetGirls-</title>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/css/base/jquery-ui.css" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.13.3/css/theme.bootstrap.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.2/jquery.flot.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.2/jquery.flot.time.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.2/jquery.flot.selection.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.13.3/jquery.tablesorter.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.13.3/jquery.tablesorter.widgets.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment-with-langs.min.js"></script>
<script src=@routes.Assets.at("javascript/material.js")></script>
<script src=@routes.Assets.at("javascript/ship.js")></script>
<script src=@routes.Assets.at("javascript/time.js")></script>
<style>
  div.chart {
    width: 900px;
    height: 500px;
  }

  div.overview {
    width: 900px;
    height: 200px;
  }
</style>
} {
<input type="text" id="userid" value=@auth.id hidden="hidden" />
<div class="container theme-showcase" role="main">
  <div class="jumbotron">
    <h1>@{auth.nickname}@rank(basic.rank)<small>Lv@{basic.lv}</small></h1>
  </div>

  <ul class="nav nav-tabs">
    <li class="active"><a href="#material" data-toggle="tab">資源</a></li>
    <li><a href="#ship" data-toggle="tab">艦娘</a></li>
    <li><a href="#dock" data-toggle="tab">ドック</a></li>
    <li><a href="#createship" data-toggle="tab">建造履歴</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane in active" id="material">
      <div class="page-header">
        <h1>資源</h1>
      </div>
      <div id="material_chart" class="chart"></div>
      <div id="material_overview" class="overview"></div>
      <div class="btn-group">
        <button type="button" class="btn btn-default" id="whole">全体</button>
        <button type="button" class="btn btn-default" id="month">1ヶ月</button>
        <button type="button" class="btn btn-default" id="week">1週間</button>
        <button type="button" class="btn btn-default" id="day">1日</button>
      </div>
    </div>

    <div class="tab-pane" id="ship">
      <div class="page-header">
        <h1>艦娘一覧</h1>
      </div>
      <table class="table table-striped table-condensed" id="ship_table">
        <thead>
          <tr>
            <th>ID</th><th>名前</th><th>Lv</th><th>HP</th><th>Cond</th><th>火力</th><th>雷装</th><th>対空</th><th>装甲</th><th>回避</th><th>対潜</th><th>索敵</th><th>運</th>
          </tr>
        </thead>
        <tbody>
          @ships.map { case (ship, master) =>
            <tr>
              <td>@ship.id</td>
              <td>@master.name</td>
              <td>@ship.lv</td>
              <td>@ship.nowhp</td>
              <td>@ship.cond</td>
              <td>@ship.karyoku</td>
              <td>@ship.raisou</td>
              <td>@ship.taiku</td>
              <td>@ship.soukou</td>
              <td>@ship.kaihi</td>
              <td>@ship.taisen</td>
              <td>@ship.sakuteki</td>
              <td>@ship.lucky</td>
            </tr>
          }
        </tbody>
      </table>
    </div>

    <div class="tab-pane" id="dock">
      <div class="page-header">
        <h1>入渠</h1>
      </div>
      <table class="table table-striped">
        <thead>
          <th>DockID</th><th>ShipID</th><th>名前</th><th>時間</th>
        </thead>
        <tbody>
          @ndocks.map { dock =>
            <tr>
              <td>@dock.id</td>
              <td>@dock.shipId</td>
              <td>@dock.name</td>
              <td class="viewTimeBefore" data-time="@dock.completeTime" data-end-mes="修復完了"></td>
            </tr>
          }
        </tbody>
      </table>

      <div class="page-header">
        <h1>建造</h1>
      </div>
      <table class="table table-striped">
        <thead>
          <th>DockID</th><th>名前</th><th>燃料</th><th>弾薬</th><th>鉄鋼</th><th>ボーキ</th><th>時間</th>
        </thead>
        <tbody>
          @kdocks.map { dock =>
            <tr>
              <td>@dock.id</td>
              <td>@dock.name</td>
              <td>@dock.fuel</td>
              <td>@dock.ammo</td>
              <td>@dock.steel</td>
              <td>@dock.bauxite</td>
              <td class="viewTimeBefore" data-time="@dock.completeTime" data-end-mes="建造完了"></td>
            </tr>
          }
        </tbody>
      </table>
    </div>

    <div class="tab-pane" id="createship">
      <div class="page-header">
        <h1>建造履歴</h1>
      </div>
      <table class="table table-striped table-condensed" id="ship_create">
        <thead>
          <tr>
            <th>名前</th><th>燃料</th><th>弾薬</th><th>鉄鋼</th><th>ボーキサイト</th><th>日時</th>
          </tr>
        </thead>
        <tbody>
          @cShips.filterNot(_.largeFlag).map { ship =>
            <tr>
              <td>@ship.name</td>
              <td>@ship.fuel</td>
              <td>@ship.ammo</td>
              <td>@ship.steel</td>
              <td>@ship.bauxite</td>
              <td class="viewTime" data-time="@ship.created">@ship.created</td>
            </tr>
          }
        </tbody>
      </table>

      <div class="page-header">
        <h1>大型艦建造</h1>
      </div>
      <table class="table table-striped table-condensed" id="large_ship_create">
        <thead>
          <tr>
            <th>名前</th><th>燃料</th><th>弾薬</th><th>鉄鋼</th><th>ボーキサイト</th><th>開発資材</th><th>日時</th>
          </tr>
        </thead>
        <tbody>
          @cShips.filter(_.largeFlag).map { ship =>
            <tr>
              <td>@ship.name</td>
              <td>@ship.fuel</td>
              <td>@ship.ammo</td>
              <td>@ship.steel</td>
              <td>@ship.bauxite</td>
              <td>@ship.develop</td>
              <td class="viewTime" data-time="@ship.created">@ship.created</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
}
