*.class
*.log
*.swp

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.idea/
.idea_modules/

# Deploy
MyFleetGirls-assembly*
MyFleetGirls*.zip
server/public/message
server/public/client/LICENSE
server/public/client/MyFleetGirls*
server/public/client/application.conf.sample

# Settings
application.conf
server/conf/application.conf

# Others
*~
*.hprof.txt
