# 頭に#はコメントです

# MyFleetGirls のデータ送信先サーバーアドレスです。
# 通常変更する必要はありません
Url {
    post: "https://myfleet.moe"
}

# MyFleetGirls アプリケーションはこのポート番号で proxy として待ち受けます。
# 他の proxy ツールと併用する場合等重複しないようにしてください
proxy {
    port: 8080
}

auth {
    # MyFleetGirls サーバーとの通信にパスワードを設定します
    # 一度設定すると以降殆どの通信、及び Web でのログインに必要となります
    # パスワードを忘れた場合の対処等は MyFleetGirls Web の FAQ を参照してください

    # pass: abcde
}
