@(user: dat.User, ships: Seq[dat.CreateShipWithName])

@main {
  <title>建造履歴 -@{user.admiral.nickname}提督-</title>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.3/moment-with-langs.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/vue/0.10.6/vue.min.js"></script>
  <script src="@routes.Assets.at("javascript/time.js")"></script>
  <script src="@routes.Assets.at("javascript/create.js")"></script>
} {
  @head_content(user) {
    @usertab(user,"create") {
      <div class="page-header">
        <h1>建造履歴</h1>
      </div>
      <div id="ship_create">
        <table class="table table-striped table-condensed">
          <thead>
            <tr>
              <th>名前</th><th>燃料</th><th>弾薬</th><th>鉄鋼</th><th>ボーキサイト</th><th>日時</th>
            </tr>
          </thead>
          <tbody>
            <tr v-repeat="ship: data">
              <td>{{ship.name}}</td>
              <td>{{ship.fuel}}</td>
              <td>{{ship.ammo}}</td>
              <td>{{ship.steel}}</td>
              <td>{{ship.bauxite}}</td>
              <td>{{timeToStr(ship.created)}}</td>
            </tr>
          </tbody>
        </table>
        <ul class="pagination" v-if="allCount > count">
          <li v-show="page != 0">
            <a href="#" v-on="click: setPage(page - 1)" onclick="return false;">&laquo;</a>
          </li>
          <li v-repeat="p: pages()" v-attr="class: (p == page ? 'active' : '')">
            <a v-on="click: setPage(p)" href="#" onclick="return false;">{{p + 1}}</a>
          </li>
          <li v-show="(page + 1) != maxPage()">
            <a href="#" v-on="click: setPage(page + 1)" onclick="return false;">&raquo;</a>
          </li>
        </ul>
      </div>

      <div class="page-header">
        <h1>装備開発履歴</h1>
      </div>
      <div id="item_create">
        <table class="table table-striped table-condensed">
          <thead>
            <tr>
              <th>名前</th><th>旗艦</th><th>燃料</th><th>弾薬</th><th>鉄鋼</th><th>ボーキサイト</th><th>資材消費</th><th>日時</th>
            </tr>
          </thead>
          <tbody>
            <tr v-repeat="item: data">
              <td>{{item.name}}</td>
              <td>{{item.flagshipName}}</td>
              <td>{{item.fuel}}</td>
              <td>{{item.ammo}}</td>
              <td>{{item.steel}}</td>
              <td>{{item.bauxite}}</td>
              <td>
                <span v-if="item.shizaiFlag" class="glyphicon glyphicon-ok"></span>
              </td>
              <td>{{timeToStr(item.created)}}</td>
            </tr>
          </tbody>
        </table>
        <ul class="pagination" v-if="allCount > count">
          <li v-show="page != 0">
            <a href="#" v-on="click: setPage(page - 1)" onclick="return false;">&laquo;</a>
          </li>
          <li v-repeat="p: pages()" v-attr="class: (p == page ? 'active' : '')">
            <a v-on="click: setPage(p)" href="#" onclick="return false;">{{p + 1}}</a>
          </li>
          <li v-show="(page + 1) != maxPage()">
            <a href="#" v-on="click: setPage(page + 1)" onclick="return false;">&raquo;</a>
          </li>
        </ul>
      </div>

      <div class="page-header">
        <h1>大型艦建造履歴</h1>
      </div>
      <table class="table table-striped table-condensed" id="large_ship_create">
        <thead>
          <tr>
            <th>名前</th><th>燃料</th><th>弾薬</th><th>鉄鋼</th><th>ボーキサイト</th><th>開発資材</th><th>日時</th>
          </tr>
        </thead>
        <tbody>
          @ships.map { ship =>
          <tr>
            <td>@ship.name</td>
            <td>@ship.fuel</td>
            <td>@ship.ammo</td>
            <td>@ship.steel</td>
            <td>@ship.bauxite</td>
            <td>@ship.develop</td>
            <td class="viewTime" data-time="@ship.created">@ship.created</td>
          </tr>
          }
        </tbody>
      </table>
    }
  }
}
