@(user: User, ships: Seq[CreateShipWithName])
@import models.join.CreateShipWithName

@main {
  <title>建造履歴 -@{user.admiral.nickname}提督-</title>
  <script src="@Js.MomentLocales"></script>
  <script src="@Js.Vue"></script>
  <script src="@Js.Coffee("time")"></script>
  <script src="@Js.Coffee("create")"></script>
} {
  @head_content(user) {
    @usertab(user,"create") {
      <div class="page-header">
        <h1>建造履歴</h1>
      </div>
      <div id="ship_create" data-url="@routes.RestUser.createShips(user.admiral.id)" data-count="@routes.RestUser.createShipCount(user.admiral.id)" data-pcount="10">
        <table class="table table-striped table-condensed">
          <thead>
            <tr>
              <th>名前</th><th>燃料</th><th>弾薬</th><th>鉄鋼</th><th>ボーキサイト</th><th>日時</th>
            </tr>
          </thead>
          <tbody>
            <tr v-repeat="ship: data">
              <td>{{ship.name}}</td>
              <td>{{ship.fuel}}</td>
              <td>{{ship.ammo}}</td>
              <td>{{ship.steel}}</td>
              <td>{{ship.bauxite}}</td>
              <td>{{timeToStr(ship.created)}}</td>
            </tr>
          </tbody>
        </table>
        @create_paging()
      </div>

      <div class="page-header">
        <h1>装備開発履歴</h1>
      </div>
      <div id="item_create" data-url="@routes.RestUser.createItems(user.admiral.id)" data-count="@routes.RestUser.createItemCount(user.admiral.id)" data-pcount="10">
        <table class="table table-striped table-condensed">
          <thead>
            <tr>
              <th>名前</th><th>旗艦</th><th>燃料</th><th>弾薬</th><th>鉄鋼</th><th>ボーキサイト</th><th>資材消費</th><th>日時</th>
            </tr>
          </thead>
          <tbody>
            <tr v-repeat="item: data">
              <td>{{item.name}}</td>
              <td>{{item.flagshipName}}</td>
              <td>{{item.fuel}}</td>
              <td>{{item.ammo}}</td>
              <td>{{item.steel}}</td>
              <td>{{item.bauxite}}</td>
              <td>
                <span v-if="item.shizaiFlag" class="glyphicon glyphicon-ok"></span>
              </td>
              <td>{{timeToStr(item.created)}}</td>
            </tr>
          </tbody>
        </table>
        @create_paging()
      </div>

      <div class="page-header">
        <h1>装備改修履歴</h1>
      </div>
      <div id="remodel" data-url="@routes.RestUser.remodels(user.admiral.id)" data-count="@routes.RestUser.remodelCount(user.admiral.id)" data-pcount="10">
        <table class="table table-striped table-condensed">
          <thead>
            <tr>
              <th>成否</th><th>二番艦</th><th>Before</th><th>After</th><th>開発資材</th><th>改修資材</th><th>消費装備</th><th>確実化</th><th>日時</th>
            </tr>
          </thead>
          <tbody>
            <tr v-repeat="item: data">
              <td>
                <span class="glyphicon glyphicon-ok" v-if="item.remodel.flag"></span>
                <span class="glyphicon glyphicon-remove" v-if="!item.remodel.flag"></span>
              </td>
              <td><span v-if="item.secondShip">{{item.secondShip.name}}</span><span v-if="!item.secondShip">なし</span></td>
              <td>{{item.before.name}}+{{item.remodel.beforeItemLevel}}</td>
              <td><span v-if="item.remodelAfter">{{item.after.name}}+{{item.remodelAfter.level}}</span></td>
              <td>
                <span v-if="item.master">
                  <span v-if="item.remodel.certain">{{item.master.certainDevelop}}</span>
                  <span v-if="!item.remodel.certain">{{item.master.develop}}</span>
                </span>
              </td>
              <td>
                <span v-if="item.master">
                  <span v-if="item.remodel.certain">{{item.master.certainRemodel}}</span>
                  <span v-if="!item.remodel.certain">{{item.master.remodel}}</span>
                </span>
              </td>
              <td>
                <span v-if="item.use && item.master">
                  {{item.use.name}}<span v-if="item.master.useSlotitemNum > 1"> x{{item.master.useSlotitemNum}}</span>
                </span>
              </td>
              <td><span v-if="item.remodel.certain" class="glyphicon glyphicon-check"></span></td>
              <td>{{timeToStr(item.remodel.created)}}</td>
            </tr>
          </tbody>
        </table>
        @create_paging()
      </div>

      <div class="page-header">
        <h1>大型艦建造履歴</h1>
      </div>
      <table class="table table-striped table-condensed" id="large_ship_create">
        <thead>
          <tr>
            <th>名前</th><th>燃料</th><th>弾薬</th><th>鉄鋼</th><th>ボーキサイト</th><th>開発資材</th><th>日時</th>
          </tr>
        </thead>
        <tbody>
          @ships.map { ship =>
          <tr>
            <td>@ship.name</td>
            <td>@ship.fuel</td>
            <td>@ship.ammo</td>
            <td>@ship.steel</td>
            <td>@ship.bauxite</td>
            <td>@ship.develop</td>
            <td class="viewTime" data-time="@ship.created">@ship.created</td>
          </tr>
          }
        </tbody>
      </table>
    }
  }
}
