@(user: dat.User)

@main {
  <title>ドック -@{user.admiral.nickname}提督-</title>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment-with-langs.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/vue/0.10.3/vue.min.js"></script>
  <script src="@routes.Assets.at("javascript/dock.js")"></script>
} {
  @head_content(user) {
    @usertab("dock") {
      <section id="messages">
        <div id="mes">
          <div class="alert alert-info" v-repeat="mes: messages.slice(0, 3)">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>{{mes.title}}</strong>: {{mes.mes}}
          </div>
        </div>

        <div class="row">
          <div class="col-lg-3 col-md-5 col-sm-5">
            <div class="page-header">
              <h1>入渠</h1>
            </div>
            <table class="table table-striped">
              <thead>
                <tr><th>ID</th><th>名前</th><th>時間</th></tr>
              </thead>
              <tbody>
                <tr v-repeat="dock: ndocks">
                  <td>{{dock.id}}</td>
                  <td><a href="/user/@user.admiral.id/ship#modal=true&id={{dock.shipId}}">{{dock.name}}</a></td>
                  <td>{{timeView(dock.completeTime, '修復完了')}}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="col-lg-4 col-md-7 col-sm-7">
            <div class="mission">
              <h1>遠征</h1>
            </div>
            <table class="table table-striped">
              <thead>
                <tr><th>ID</th><th>艦隊名</th><th>遠征先</th><th>残り時間</th></tr>
              </thead>
              <tbody>
                <tr v-repeat="mission: missions">
                  <td>{{mission.deckId}}</td>
                  <td>{{mission.deckName}}</td>
                  <td>{{mission.missionName}}</td>
                  <td>{{timeView(mission.completeTime, '帰投')}}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="col-lg-5 col-md-12 col-sm-12">
            <div class="page-header">
              <h1>建造</h1>
            </div>
            <table class="table table-striped">
              <thead>
                <tr><th>ID</th><th>名前</th><th>燃料</th><th>弾薬</th><th>鉄鋼</th><th>ボーキ</th><th>時間</th></tr>
              </thead>
              <tbody>
                <tr v-repeat="dock: kdocks">
                  <td>{{dock.id}}</td>
                  <td>{{dock.name}}</td>
                  <td>{{dock.fuel}}</td>
                  <td>{{dock.ammo}}</td>
                  <td>{{dock.steel}}</td>
                  <td>{{dock.bauxite}}</td>
                  <td>{{timeView(dock.completeTime, '建造完了')}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>
    }
  }
}
