@(user: User)(body: Html)

@import com.ponkotuy.value.KCServer

@rank(r: Int) = {
  @Map(
    1 -> "元帥", 2 -> "大将", 3 -> "中将", 4 -> "少将",
    5 -> "大佐", 6 -> "中佐", 7 -> "新米中佐",
    8 -> "少佐", 9 -> "中堅少佐", 10 -> "新米少佐"
  )(r)
}
@navbar("user")
<input type="text" id="userid" value=@user.admiral.id hidden="hidden" />
<div class="jumbotron">
  <div class="container">
    <p>
      @{for {
        base <- user.setting.base
        server <- KCServer.fromNumber(base)
      } yield { <span class="label label-default">{server.name}</span> }}
      @if(user.isGradeA) { <span class="label label-danger">甲勲章</span> }
      @if(user.basic.comment.nonEmpty){
        <span class="label label-info">
        @user.basic.comment
        </span>
      }
      <a href="@routes.UserView.honor(user.admiral.id)">
        <span class="label label-primary" style="margin-left: 6px">
          @user.honor match {
            case Some(ho) => {@ho.name}
            case None => {称号未設定}
          }
        </span>
      </a>
    </p>
    <h1>@{user.admiral.nickname}@rank(user.basic.rank)<small>Lv@{user.basic.lv}</small></h1>
    @tweet()
    <p>
    @user.map
    </p>
  </div>
</div>
<div class="container theme-showcase" role="main">
  @body
</div>
