@(user: dat.User, days: Seq[tool.MaterialDays])

@main {
  <title>@{user.admiral.nickname}提督 -資源-</title>
  <script src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.2/jquery.flot.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.2/jquery.flot.time.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.2/jquery.flot.selection.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment-with-langs.min.js"></script>
  <script src="@routes.Assets.at("javascript/common.js")"></script>
  <script src="@routes.Assets.at("javascript/material.js")"></script>
  <style>
    div.chart {
      width: 900px;
      height: 500px;
    }

    div.overview {
      width: 900px;
      height: 200px;
    }
  </style>
} {
  @head_content(user) {
    @usertab(user,"material") {
      <div class="page-header">
        <h1>資源</h1>
      </div>
      <div class="btn-group" id="range">
        <button type="button" class="btn btn-default" id="whole">全体</button>
        <button type="button" class="btn btn-default" id="month">1ヶ月</button>
        <button type="button" class="btn btn-default" id="week">1週間</button>
        <button type="button" class="btn btn-default" id="day">1日</button>
      </div>
      <div id="material_chart" class="chart"></div>
      <div id="material_overview" class="overview"></div>

      <h3>資源収支</h3>
      <table class="table table-condensed table-striped">
        <thead>
          <tr>
            <th>日付</th>
            <th>燃料</th>
            <th>弾薬</th>
            <th>鉄鋼</th>
            <th>ボーキサイト</th>
            <th>高速建造材</th>
            <th>高速修復材</th>
            <th>開発資材</th>
          </tr>
        </thead>
        <tbody>
          @days.map { x =>
            <tr>
              <td>@x.prettyDay</td>
              @x.fuel.cell
              @x.ammo.cell
              @x.steel.cell
              @x.bauxite.cell
              @x.instant.cell
              @x.bucket.cell
              @x.develop.cell
            </tr>
          }
        </tbody>
      </table>
      <p>翌日朝5時で次の日に変わる時間帯を採用しています（UTC+4）</p>
    }
  }
}
