@(ship: ShipParameter, user: User, isSnap: Boolean)

<!-- Require jqPlot -->

<script src="@Js.Coffee("bar")"></script>
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

  <div style="float: right; margin-right: 20px;">
    @if(isSnap) {
      <div class="input-group input-group-sm favorite-group"
           data-title="@ship.name -@{user.admiral.nickname}提督のSnapshot-"
           data-path="@{routes.UserView.snapshot(user.admiral.id)}#modal=true&id=@{ship.id}">
    } else {
      <div class="input-group input-group-sm favorite-group"
           data-title="@ship.name -@{user.admiral.nickname}提督の艦娘-"
           data-path="@{routes.UserView.ship(user.admiral.id)}#modal=true&id=@{ship.id}">
    }
      <span class="input-group-btn">
        <button class="btn btn-default btn-add-favorite" type="button">
          <span class="text-warning glyphicon glyphicon-star"></span>
        </button>
      </span>
      <input type="text" readonly="readonly" class="form-control fav-counter" style="width:35px;" />
    </div>
  </div>

  <h3 class="modal-title"><a href="@routes.ViewSta.shipBook(ship.shipId)">@ship.name</a><small>Lv@ship.lv</small></h3>
</div>

<div class="modal-body">
  <table align="center">
    <tr>
      <td>
        <div style="width:360px;height:300px" class="ship_hbar" data-json="@ship.toJqPlot" data-id="@ship.id"></div>
      </td>
      <td>
        <div>
          <img src="@routes.RestImage.ship(ship.shipId, 5)" alt="@ship.name" class="img-rounded" />
          @if(ship.airSuperiority > 0) { <p style="margin: 5px;"><small>制空値</small>@ship.airSuperiority</p> }
          <ul>
            @ship.slotNames.map { slot =>
              <li>@slot</li>
            }
          </ul>
        </div>
      </div>
    </tr>
  </table>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>艦種</th><th>Lv</th><th>Exp</th><th>HP</th><th>Cond</th><th>火力</th><th>雷装</th><th>対空</th><th>装甲</th><th>回避</th><th>対潜</th><th>索敵</th><th>運</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>@ship.stName</td>
        <td style="padding:0px;"><div style="background-color:#D9EDF7;width:@{(ship.expRate*100).toInt}%;padding:5px;">@ship.lv</div></td>
        <td style="padding:0px;"><div style="background-color:@if(ship.lv > 100){#EBCCD1}else{#D9EDF7};width:@{(ship.entireExpRate*100).toInt}%;padding:5px;">@{f"${ship.exp}%,d"}</div></td>
        <td style="padding:0px;"><div style="background-color:@ship.hpRGB.toString;width:@{(ship.hpRate*100).toInt}%;padding:5px;">@ship.nowhp/@ship.maxhp</div></td>
        <td style="padding:0px;"><div style="background-color:@ship.condBarRGB.toString;width:@{ship.cond}%;padding:5px;">@ship.cond</div></td>
        <td style="padding:0px;"><div style="background-color:#D9EDF7;width:@{(ship.karyokuRate*100).toInt}%;padding:5px;">@ship.karyoku</div></td>
        <td style="padding:0px;"><div style="background-color:#D9EDF7;width:@{(ship.raisouRate*100).toInt}%;padding:5px;">@ship.raisou</div></td>
        <td style="padding:0px;"><div style="background-color:#D9EDF7;width:@{(ship.taikuRate*100).toInt}%;padding:5px;">@ship.taiku</div></td>
        <td style="padding:0px;"><div style="background-color:#D9EDF7;width:@{(ship.soukouRate*100).toInt}%;padding:5px;">@ship.soukou</div></td>
        <td>@ship.kaihi</td>
        <td>@ship.taisen</td>
        <td>@ship.sakuteki</td>
        <td>@ship.lucky</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  @if(!isSnap && (user.logined.isEmpty || user.isMine)) {
    <buttton type="button" class="btn btn-primary" @if(!user.isMine){disabled="disabled"} onclick="yome()">嫁艦にする</buttton>
  }
  <a type="button" class="btn btn-primary" onclick="tweet()" target="_blank">Tweet</a>
  <script>
    var tweet = function(){
      var here = encodeURIComponent(location.href);
      var text = "@ship.name Lv@ship.lv";
      var url = "https://twitter.com/intent/tweet?original_referer=" + here + "&url=" + here + "&text=" + text + "&hashtags=MyFleetGirls";
      window.open(url);
    }
    var yome = function(){
      location.href='@{routes.UserView.settings(ship.memberId)}#userId=@ship.memberId&shipId=@ship.id'
    }
  </script>
</div>
