@(user: dat.User)

@main {
  <title>海戦履歴 -@{user.admiral.nickname}提督-</title>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment-with-langs.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/vue/0.10.5/vue.js"></script>
  <script src="@routes.Assets.at("javascript/common.js")"></script>
  <script src="@routes.Assets.at("javascript/naval_battle.js")"></script>
} {
  @head_content(user) {
    @usertab(user,"naval") {
      <div class="page-header">
        <h1>海戦履歴</h1>
      </div>

      <div id="battle_log">
        <form class="form-inline" role="form">
          <div class="checkbox">
            <label class="checkbox-inline">
              <input type="checkbox" v-model="bossOnly">BOSSのみ
            </label>
          </div>
          <div class="checkbox">
            <label class="checkbox-inline">
              <input type="checkbox" v-model="dropOnly">ドロップありのみ
            </label>
          </div>
          <div class="checkbox">
            <label class="checkbox-inline">
              <input type="checkbox" v-model="ranks.S">S勝利
            </label>
          </div>
          <div class="checkbox">
            <label class="checkbox-inline">
              <input type="checkbox" v-model="ranks.A">A勝利
            </label>
          </div>
          <div class="checkbox">
            <label class="checkbox-inline">
              <input type="checkbox" v-model="ranks.B">B勝利
            </label>
          </div>
          <div class="checkbox">
            <label class="checkbox-inline">
              <input type="checkbox" v-model="ranks.C">C敗北
            </label>
          </div>
          <div class="checkbox">
            <label class="checkbox-inline">
              <input type="checkbox" v-model="ranks.D">D敗北
            </label>
          </div>
          <div class="checkbox">
            <label class="checkbox-inline">
              <input type="checkbox" v-model="ranks.E">E敗北
            </label>
          </div>
        </form>

        <table class="table table-striped table-condensed">
          <thead>
            <tr>
              <th><a href="http://wikiwiki.jp/kancolle/?%BD%D0%B7%E2#maps">Stage</a></th><th>Rank</th><th>ドロップ</th><th>日時</th>
            </tr>
          </thead>
          <tbody>
            <tr v-repeat="drop: data">
              <td>{{drop.point}}<small v-if="drop.start">Start</small> <small v-if="drop.boss">BOSS</small></td>
              <td>{{drop.winRank}}</td>
              <td>{{drop.getShipName}}</td>
              <td>{{timeToStr(drop.created)}}</td>
            </tr>
          </tbody>
        </table>

        <ul class="pagination" v-if="allCount > count">
          <li v-show="page != 0">
            <a href="#" v-on="click: setPage(page - 1)" onclick="return false;">&laquo;</a>
          </li>
          <li v-repeat="p: pages()" v-attr="class: (p == page ? 'active' : '')">
            <a v-on="click: setPage(p)" href="#" onclick="return false;">{{p + 1}}</a>
          </li>
          <li v-show="(page + 1) != maxPage()">
            <a href="#" v-on="click: setPage(page + 1)" onclick="return false;">&raquo;</a>
          </li>
        </ul>
      </div>
    }
  }
}
