@(user: User, ago: Option[AGOProgress])

@main {
  <title>任務 -@{user.admiral.nickname}提督-</title>
  <script src="@Js.Vue"></script>
  <script src="@Js.Coffee("quest")"></script>
} {
  @head_content(user) {
    @usertab(user,"quest") {
      <div id="quest">
        @ago.map { a =>
          <div id="a_go" class="alert @if(a.isClear){alert-success}else{alert-info}" role="alert">
            <strong>あ号カウンター</strong>
            出撃: @a.sortie/@AGOClear.sortie,
            ランクS: @a.rankS/@AGOClear.rankS,
            ボス到達: @a.reachBoss/@AGOClear.reachBoss,
            ボス撃破: @a.winBoss/@AGOClear.winBoss
          </div>
        }

        <div id="daily_quest" v-if="daily_quests.length > 0">
          <h3>日 Daily</h3>
          <table class="table table-hover table-condensed">
            <thead>
              <tr>
                <th>ID</th><th>カテゴリ</th><th>名前</th><th>進行</th>
                @if(user.isMine){<th>手動達成化</th>}
              </tr>
            </thead>
            <tbody>
              <tr v-repeat="q: daily_quests" v-class="text-muted: q.state == 3 || q.manualFlag, warning: q.state == 2 && !q.manualFlag" class="tltip" data-toggle="tooltip" data-placement="bottom" title="<p>{{q.detail}}</p> <p>[報酬]{{q.fuel}}/{{q.ammo}}/{{q.steel}}/{{q.bauxite}}</p>">
                <td>{{q.id}}</td>
                <td>{{catView(q.category)}}</td>
                <td>{{q.title}}</td>
                <td>{{progressView(q.state, q.progressFlag, q.manualFlag)}}</td>
                @if(user.isMine){<td><button class="btn btn-default btn-xs" v-attr="disabled: q.state >= 3" v-on="click: manualFlag(q.id)">手動達成</button></td>}
              </tr>
            </tbody>
          </table>
        </div>

        <div id="weekly_quest" v-if="weekly_quests.length > 0">
          <h3>週 Weekly</h3>
          <table class="table table-hover table-condensed">
            <thead>
              <tr>
                <th>ID</th><th>カテゴリ</th><th>名前</th><th>進行</th>
                @if(user.isMine){<th>手動達成化</th>}
              </tr>
            </thead>
            <tbody>
              <tr v-repeat="q: weekly_quests" v-class="text-muted: q.state == 3 || q.manualFlag, warning: q.state == 2 && !q.manualFlag" class="tltip" data-toggle="tooltip" data-placement="bottom" title="<p>{{q.detail}}</p> <p>[報酬]{{q.fuel}}/{{q.ammo}}/{{q.steel}}/{{q.bauxite}}</p>">
                <td>{{q.id}}</td>
                <td>{{catView(q.category)}}</td>
                <td>{{q.title}}</td>
                <td>{{progressView(q.state, q.progressFlag, q.manualFlag)}}</td>
                @if(user.isMine){<td><button class="btn btn-default btn-xs" v-attr="disabled: q.state >= 3" v-on="click: manualFlag(q.id)">手動達成</button></td>}
              </tr>
            </tbody>
          </table>
        </div>

        <div id="monthly_quest" v-if="monthly_quests.length > 0">
          <h3>月 Monthly</h3>
          <table class="table table-hover table-condensed">
            <thead>
              <tr>
                <th>ID</th><th>カテゴリ</th><th>名前</th><th>進行</th>
                @if(user.isMine){<th>手動達成化</th>}
              </tr>
            </thead>
            <tbody>
              <tr v-repeat="q: monthly_quests" v-class="text-muted: q.state == 3 || q.manualFlag, warning: q.state == 2 && !q.manualFlag" class="tltip" data-toggle="tooltip" data-placement="bottom" title="<p>{{q.detail}}</p> <p>[報酬]{{q.fuel}}/{{q.ammo}}/{{q.steel}}/{{q.bauxite}}</p>">
                <td>{{q.id}}</td>
                <td>{{catView(q.category)}}</td>
                <td>{{q.title}}</td>
                <td>{{progressView(q.state, q.progressFlag, q.manualFlag)}}</td>
                @if(user.isMine){<td><button class="btn btn-default btn-xs" v-attr="disabled: q.state >= 3" v-on="click: manualFlag(q.id)">手動達成</button></td>}
              </tr>
            </tbody>
          </table>
        </div>

        <div id="others_quest" v-if="others_quests.length > 0">
          <h3>他 Others</h3>
          <table class="table table-hover table-condensed">
            <thead>
              <tr>
                <th>ID</th><th>カテゴリ</th><th>名前</th><th>進行</th>
                @if(user.isMine){<th>手動達成化</th>}
              </tr>
            </thead>
            <tbody>
              <tr v-repeat="q: others_quests" v-class="text-muted: q.state == 3 || q.manualFlag, warning: q.state == 2 && !q.manualFlag" class="tltip" data-toggle="tooltip" data-placement="bottom" title="<p>{{q.detail}}</p> <p>[報酬]{{q.fuel}}/{{q.ammo}}/{{q.steel}}/{{q.bauxite}}</p>">
                <td>{{q.id}}</td>
                <td>{{catView(q.category)}}</td>
                <td>{{q.title}}</td>
                <td>{{progressView(q.state, q.progressFlag, q.manualFlag)}}</td>
                @if(user.isMine){<td><button class="btn btn-default btn-xs" v-attr="disabled: q.state >= 3" v-on="click: manualFlag(q.id)">手動達成</button></td>}
              </tr>
            </tbody>
          </table>
        </div>

        <div id="once_quest" v-if="once_quests.length > 0">
          <h3>単 Once</h3>
          <table class="table table-hover table-condensed">
            <thead>
              <tr>
                <th>ID</th><th>カテゴリ</th><th>名前</th><th>進行</th>
                @if(user.isMine){<th>手動達成化</th>}
              </tr>
            </thead>
            <tbody>
              <tr v-repeat="q: once_quests" v-class="text-muted: q.state == 3 || q.manualFlag, warning: q.state == 2 && !q.manualFlag" class="tltip" data-toggle="tooltip" data-placement="bottom" title="<p>{{q.detail}}</p> <p>[報酬]{{q.fuel}}/{{q.ammo}}/{{q.steel}}/{{q.bauxite}}</p>">
                <td>{{q.id}}</td>
                <td>{{catView(q.category)}}</td>
                <td>{{q.title}}</td>
                <td>{{progressView(q.state, q.progressFlag, q.manualFlag)}}</td>
                @if(user.isMine){<td><button class="btn btn-default btn-xs" v-attr="disabled: q.state >= 3" v-on="click: manualFlag(q.id)">手動達成</button></td>}
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    }
  }
}
