@(user: dat.User, ships: Seq[dat.ShipWithName], deckport: DeckPort)

@main {
  <title>艦隊スナップショット登録</title>
  <script src="//cdnjs.cloudflare.com/ajax/libs/vue/0.10.5/vue.js"></script>
  <script src="@routes.Assets.at("javascript/register_snap.js")"></script>
} {
  @head_content(user) {
    @usertab(user,"snap") {
      <div class="page-header">
        <h1>艦隊スナップショット登録</h1>
      </div>

      <h3>@deckport.name</h3>
      <ul class="list-inline">
        @ships.map { ship =>
          <li>@ship.name <small>Lv@ship.lv</small></li>
        }
      </ul>
      <p>以上の編成を登録します。</p>

      <h3>登録フォーム</h3>

      <div id="snapshot">
        <div class="alert alert-warning alert-dismissable" v-show="errorMsg.status">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong>{{ errorMsg.status }} {{ errorMsg.statusText }}</strong>: {{ errorMsg.responseText }}
        </div>

        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="title" class="col-sm-2 control-label">タイトル</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="title" v-model="title" maxlength="40" placeholder="タイトル" />
            </div>
          </div>
          <div class="form-group">
            <label for="comment" class="col-sm-2 control-label">コメント</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="comment" v-model="comment" maxlength="10000" placeholder="コメント" />
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="button" class="btn btn-primary" id="submit" v-on="click: submit()">Submit</button>
            </div>
          </div>
        </form>
      </div>

      <input type="hidden" id="deckport" value="@deckport.id" />
    }
  }
}
