@(user: dat.User, ships: Seq[dat.ShipWithName], decks: Seq[dat.DeckShipWithName], deckports: Seq[DeckPort])
@import views.html.user.{head_content, usertab}

@main {
  <title>艦娘 -@{user.admiral.nickname}提督-</title>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.13.3/css/theme.bootstrap.css" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jqPlot/1.0.8/jquery.jqplot.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.13.3/jquery.tablesorter.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.13.3/jquery.tablesorter.widgets.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jqPlot/1.0.8/jquery.jqplot.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jqPlot/1.0.8/plugins/jqplot.barRenderer.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jqPlot/1.0.8/plugins/jqplot.categoryAxisRenderer.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jqPlot/1.0.8/plugins/jqplot.pointLabels.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jqPlot/1.0.8/plugins/jqplot.highlighter.min.js"></script>
  <script src="@routes.Assets.at("javascript/common.js")"></script>
  <script src="@routes.Assets.at("javascript/bar.js")"></script>
  <script src="@routes.Assets.at("javascript/ship.js")"></script>
} {
  @head_content(user) {
    @usertab("ship") {
      <div class="row">
        @deckports.map { deckport =>
          <div class="col-md-3 col-sm-3">
            <h3>
              <a data-toggle="modal" href="fleet/@deckport.id" class="modal_link" data-target="#modal">@deckport.name</a>
            </h3>
            <ol>
              @decks.filter(_.deckId == deckport.id).map { ship =>
                <li style="background-color: @ship.rgb.toString">
                  <a data-toggle="modal" href="aship/@ship.shipId" class="modal_link" data-target="#modal">@ship.name</a>
                  <small>Lv@ship.lv</small>
                </li>
              }
            </ol>
          </div>
        }
      </div>

      <div class="page-header">
        <h1>艦娘一覧</h1>
      </div>
      <div id="ships">
        <table class="table table-striped table-condensed" id="ship_table">
          <thead>
            <tr>
              <th>ID</th>
              <th>艦種</th>
              <th>名前</th>
              <th>Lv</th>
              <th>Exp</th>
              <th>HP</th>
              <th>Cond</th>
              <th>火力</th>
              <th>雷装</th>
              <th>対空</th>
              <th>装甲</th>
              <th>回避</th>
              <th>対潜</th>
              <th>索敵</th>
              <th>運</th>
            </tr>
          </thead>
          <tbody>
            @ships.map { ship =>
            <tr>
              <td>@ship.id</td>
              <td>@ship.stAbbName</td>
              <td class="nowrap"><a data-toggle="modal" href="aship/@ship.id" class="modal_link" data-target="#modal">@ship.name</a></td>
              <td style="@if(ship.expRate > 0){background-color:#D9EDF7;display:block;width:@{(ship.expRate*100).toInt}%}">@ship.lv</td>
              <td style="padding:0px;"><div style="background-color:@if(ship.lv >= 100){#EBCCD1}else{#D9EDF7};width:@{(ship.entireExpRate*100).toInt}%;padding:5px;">@ship.exp</div></td>
              <td style="padding:0px;"><div style="background-color:@ship.hpRGB.toString;width:@{(ship.hpRate*100).toInt}%;padding:5px;">@ship.nowhp/@ship.maxhp</div></td>
              <td style="padding:0px;"><div style="background-color:@ship.condBarRGB.toString;width:@{ship.cond}%;padding:5px;">@ship.cond</div></td>
              <td style="padding:0px;"><div style="background-color:#D9EDF7;width:@{(ship.karyokuRate*100).toInt}%;padding:5px;">@ship.karyoku</div></td>
              <td style="padding:0px;"><div style="background-color:#D9EDF7;width:@{(ship.raisouRate*100).toInt}%;padding:5px;">@ship.raisou</div></td>
              <td style="padding:0px;"><div style="background-color:#D9EDF7;width:@{(ship.taikuRate*100).toInt}%;padding:5px;">@ship.taiku</div></td>
              <td style="padding:0px;"><div style="background-color:#D9EDF7;width:@{(ship.soukouRate*100).toInt}%;padding:5px;">@ship.soukou</div></td>
              <td>@ship.kaihi</td>
              <td>@ship.taisen</td>
              <td>@ship.sakuteki</td>
              <td>@ship.lucky</td>
            </tr>
            }
          </tbody>
        </table>
      </div>
      <h3>表の見方</h3>
      <p>
        表検索の詳細は以下を参考にしてください。
        部分一致だけではなく、数値の上限（<50）下限（>50）でも検索できたりします。
        <a href="http://mottie.github.io/tablesorter/docs/example-widget-filter-custom.html">http://mottie.github.io/tablesorter/docs/example-widget-filter-custom.html</a>
      </p>
      <p>背景のバーは以下を示しています</p>
      <dl class="dl-horizontal">
        <dt>Lv</dt><dd>次のLvまでの経験値取得率</dd>
        <dt>Exp</dt><dd>Lv100 or Lv150までの経験値取得率</dd>
        <dt>Cond</dt><dd>Condition、疲労度です。キラキラ状態（50以上）は青になります</dd>
        <dt>火力・雷装・対空・装甲</dt><dd>近代化率</dd>
      </dl>
      <div class="modal fade bs-example-modal-lg" aria-hidden="true" role="dialog" aria-labelledby="modalLabel" id="modal">
        <div class="modal-dialog modal-lg">
          <div class="modal-content"></div>
        </div>
      </div>
    }
  }
}
