@(user: dat.User, counts: Seq[(dat.SlotItemWithMaster, Long)])

@main {
  <title>@{user.admiral.nickname}提督 -装備-</title>
  <script>
    $(function(){
      $('#modal').on('hidden.bs.modal', function(){
        $(this).removeData('bs.modal');
      });
    });
  </script>
} {
  @head_content(user) {
    @usertab(user,"slotitem") {
      <div class="page-header">
        <h1>装備一覧</h1>
      </div>

      <ul class="list-group">
        @counts.map { case (item, count) =>
          <a class="list-group-item" data-toggle="modal" href="@routes.UserView.shipslotitem(user.admiral.id, item.id)" data-target="#modal" href="@routes.UserView.shipslotitem(user.admiral.id, item.id)" onclick="return false;">@item.name
            <span class="badge">@count</span>
          </a>
        }
      </ul>

      <div class="modal" aria-hidden="true" role="dialog" aria-labelledby="modalLabel" id="modal">
        <div class="modal-dialog">
          <div class="modal-content"></div>
        </div>
      </div>
    }
  }
}
