@(user: dat.User, snap: dat.DeckSnapshotWithShip)
@import views.Js

@main {
  <title>艦隊スナップショット削除</title>
  <script src="@Js.Vue"></script>
  <script src="@Js.Coffee("snap_delete_pass")"></script>
} {
  @head_content(user) {
    @usertab(user, "snap") {
      <h4>@snap.title</h4>
      <p>@snap.comment</p>
      <ul>
        @snap.ships.map { ship =>
          <li>@ship.name <small>Lv@ship.lv</small></li>
        }
      </ul>

      <p>以上のデータを削除します</p>

      <div id="delete_snap">
        <div class="alert alert-warning alert-dismissable" v-show="errorMsg.status">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong>{{ errorMsg.status }} {{ errorMsg.statusText }}</strong>: {{ errorMsg.responseText }}
        </div>

        <form class="form-horizontal" role="form">
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="button" class="btn btn-danger" id="submit" v-on="click: submit()">削除</button>
            </div>
          </div>
          <input type="hidden" id="snapid" value="@snap.deck.id">
        </form>
      </div>
    }
  }
}
