@(user: User, stypeExp: Seq[tool.STypeExp] ,stypeExpJson: String, histgramJson: String, bestShipExpJson: String)

@main {
  <title>統計 -@{user.admiral.nickname}提督-</title>
  @Js.ScriptFlot("pie", "stack", "time")
  <script src="@Js.MomentLocales"></script>
  <script src="@Js.Lodash"></script>
  <script src="@Js.Lib("jquery.flot.axislabels")"></script>
  <script src="@Js.Coffee("pie")"></script>
  <script src="@Js.Coffee("stacked_chart")"></script>
  <script src="@Js.Coffee("statistics")"></script>
  <style>
    .tickLabel { font-size: 150%; }
    .axisLabels { font-size: 150%; }
    div.chart {
      height: 500px;
    }
  </style>
} {
  @head_content(user) {
    @usertab(user,"sta") {
      <div class="page-header">
        <h1>統計情報</h1>
      </div>

      <div class="row">
        <div class="col-sm-8 col-md-6">
          <h3>経験値取得比率</h3>
          <div style="width: 500px ;height: 400px;" class="pie" data-json="@stypeExpJson"></div>
        </div>

        <div class="col-sm-4 col-md-6">
          <table class="table table-condensed table-striped">
            <thead>
              <tr><th>艦種</th><th>経験値</th></tr>
            </thead>
            <tbody>
              @stypeExp.map { st =>
                <tr>
                  <td>@st.name</td>
                  <td>@{f"${st.exp}%,d"}</td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </div>

      <div>
        <h3>艦娘経験値グラフ</h3>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-primary group-button" data-group="1">Lv上位5隻</button>
          <button type="button" class="btn btn-default group-button" data-group="2">取得上位5隻</button>
          <button type="button" class="btn btn-default group-button" data-group="11">第一艦隊</button>
          <button type="button" class="btn btn-default group-button" data-group="12">第二艦隊</button>
          <button type="button" class="btn btn-default group-button" data-group="13">第三艦隊</button>
          <button type="button" class="btn btn-default group-button" data-group="14">第四艦隊</button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default agg-button" data-agg="1">累計</button>
          <button type="button" class="btn btn-primary agg-button" data-agg="2">差</button>
        </div>
        <div id="ship_exps_graph" class="chart width-adj"></div>
      </div>

      <div>
        <h3>艦娘Lvヒストグラム</h3>
        <div style="width: 680px ;height: 400px;" class="stacked" data-json="@histgramJson" data-type="bars" data-xaxis="Lv" data-yaxis="Count"></div>
      </div>

      <div>
        <h3>上位n艦の経験値取得に占める割合</h3>
        <div style="width: 680px ;height: 400px;" class="stacked" data-json="@bestShipExpJson" data-type="steps" data-ymax="100" data-xaxis="" data-yaxis="%" data-clickable="false"></div>
      </div>
    }
  }
}
