@(user: dat.User, active: String)(body: Html)

  <ul class="nav nav-tabs">
    <li class="@if(active=="top"){active}">
      <a href="@{routes.UserView.top(user.admiral.id)}">Top</a>
    </li>
    <li class="@if(active=="favorite"){active}">
      <a href="@{routes.UserView.favorite(user.admiral.id)}">Favorite</a>
    </li>
    <li class="@if(active=="snap"){active}">
      <a href="@{routes.UserView.snapshot(user.admiral.id)}">スナップショット</a>
    </li>
    <li class="@if(active=="material"){active}">
      <a href="@{routes.UserView.material(user.admiral.id)}">資源</a>
    </li>
    <li class="@if(active=="ship"){active}">
      <a href="@{routes.UserView.ship(user.admiral.id)}">艦娘</a>
    </li>
    <li class="@if(active=="slotitem"){active}">
      <a href="@{routes.UserView.slotitem(user.admiral.id)}">装備</a>
    </li>
    <li class="@if(active=="book"){active}">
      <a href="@{routes.UserView.book(user.admiral.id)}">図鑑</a>
    </li>
    <li class="@if(active=="dock"){active}">
      <a href="@{routes.UserView.dock(user.admiral.id)}">ドック</a>
    </li>
    <li class="@if(active=="create"){active}">
      <a href="@{routes.UserView.create(user.admiral.id)}">建造</a>
    </li>
    <li class="@if(active=="naval"){active}">
      <a href="@{routes.UserView.navalBattle(user.admiral.id)}">海戦</a>
    </li>
    <li class="@if(active=="route"){active}">
      <a href="@{routes.UserView.routeLog(user.admiral.id)}">羅針盤</a>
    </li>
    <li class="@if(active=="quest"){active}">
      <a href="@{routes.UserView.quest(user.admiral.id)}">任務</a>
    </li>
    <li class="@if(active=="sta"){active}">
      <a href="@{routes.UserView.statistics(user.admiral.id)}">統計</a>
    </li>
  </ul>

  <div class="tab-content">
    @body
  </div>
