@(user: util.User, best: ShipWithName, flagship: ShipWithName)

@main {
  <title>@{user.admiral.nickname}提督 -MyFleetGirls-</title>
  <script src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.2/jquery.flot.min.js"></script>
  <script src=@routes.Assets.at("javascript/lib/jquery.flot.mouse.js")></script>
  <script src=@routes.Assets.at("javascript/lib/jquery.flot.spider.js")></script>
  <script src=@routes.Assets.at("javascript/lib/JUMFlot.min.js")></script>
  <script src=@routes.Assets.at("javascript/rader.js")></script>
} {
  @head_content(user) {
    @usertab("top") {
      <div class="page-header">
        <h1>嫁艦（最大Lv）</h1>
      </div>
      @ship_detail(best)
      <div class="page-header">
        <h1>旗艦</h1>
      </div>
      @ship_detail(flagship, true)
    }
  }
}
