@(user: util.User, best: dat.ShipWithName, flagship: dat.ShipWithName)

@main {
  <title>@{user.admiral.nickname}提督 -MyFleetGirls-</title>
  <link rel="stylesheet" href="@routes.Assets.at("stylesheet/jquery.jqplot.min.css")">
  <script type="text/javascript" src="@routes.Assets.at("jqplot/jquery.jqplot.min.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("jqplot/plugins/jqplot.barRenderer.min.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("jqplot/plugins/jqplot.categoryAxisRenderer.min.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("jqplot/plugins/jqplot.pointLabels.min.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("jqplot/plugins/jqplot.highlighter.min.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("javascript/bar.js")"></script>
} {
  @head_content(user) {
    @usertab("top") {
      <div class="page-header">
        <h1>嫁艦（最大Lv）</h1>
      </div>
      @ship_detail(best)
      <div class="page-header">
        <h1>旗艦</h1>
      </div>
      @ship_detail(flagship, true)
    }
  }
}
