@()
@import views.Js

@main {
  <title>Activities -統計-</title>
  <script src="@Js.Vue"></script>
  <script src="@Js.MomentLocales"></script>
  <script src="@Js.Coffee("activities")"></script>
} {
  @statistics_head("activities") {
    <div class="row">
      <a href="@routes.Atom.activities()" class="pull-right">
        <img src="@routes.Assets.at("feed-icon-28x28.png")" alt="feed(ATOM)" class="img-rounded" />
      </a>
    </div>
    <table class="table table-hover" id="activities_list">
      <tr v-repeat="acts | orderBy created reverse" class="clickable trans" v-on="click: jump(url)" v-transition>
        <th>{{ title }}</th>
        <td>{{ message }}</td>
        <td>{{ tformat(created) }}</td>
      </tr>
    </table>
  }
}
