@(ci: models.view.CItem, countJson: String, counts: Seq[(String, Long, Double)], history: Seq[CreateItemWithName])

@main {
  <title>開発結果 @ci.title</title>
  <script src="@Js.MomentLocales"></script>
  @Js.ScriptFlot("pie")
  <script src="@Js.Coffee("pie")"></script>
  <script src="@Js.Coffee("time")"></script>
} {
  @statistics_head("from_recipe") {
    <div class="page-header">
      <h1>@ci.title</h1>
    </div>

    <div class="row">
      <div class="col-sm-3">
        <form role="form" action="@routes.ViewSta.citem(ci.fuel, ci.ammo, ci.steel, ci.bauxite, ci.sType)">
          <div class="form-group">
            <div class="input-group col-sm-10">
              <input type="text" class="form-control date-picker" value="@ci.from" name="from">
              <input type="text" class="form-control date-picker" value="@ci.to" name="to">
            </div>
          </div>
          <input type="submit" class="btn btn-default" value="期間変更" />
        </form>
      </div>
      <div class="pie col-sm-9" style="width:500px;height:400px;margin:auto;" data-json="@countJson"></div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <h3>Rate</h3>
        <table class="table table-hover table-condensed">
          <thead>
            <tr><th>名前</th><th>数</th><th>Rate</th></tr>
          </thead>
          <tbody>
            @counts.map { case (name, count, rate) =>
              <tr class="clickable" onclick="location.href='@routes.ViewSta.fromShip()#query=@name&from=@ci.from&to=@ci.to'">
                <td>@name</td>
                <td>@count</td>
                <td>@(f"${rate * 100}%.1f%%")</td>
              </tr>
            }
          </tbody>
        </table>
      </div>

      <div class="col-md-6">
        <h3>History</h3>
        <table class="table table-hover table-condensed">
          <thead>
            <tr><th>名前</th><th>時間</th></tr>
          </thead>
          <tbody>
            @history.map { item =>
              <tr class="clickable" onclick="location.href='@routes.ViewSta.fromShip()#query=@item.name&item=@item.slotitemId'">
                <td>@item.name</td>
                <td class="viewTime" data-time="@item.created">@item.created</td>
              </tr>
            }
          </tbody>
        </table>
      </div>
  }
}
