@(area: Int, info: Int, cells: Seq[CellInfo])

@main {
  <title>@area-@info -艦娘ドロップ一覧-</title>
  <script src="//cdnjs.cloudflare.com/ajax/libs/vue/0.10.6/vue.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.5/d3.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
  <script src="@routes.Assets.at("javascript/lib/sunburst.js")"></script>
  <script src="@routes.Assets.at("javascript/common.js")"></script>
  <script src="@routes.Assets.at("javascript/drop.js")"></script>
  <link rel="stylesheet" href="@routes.Assets.at("stylesheet/sunburst.css")" />
} {
  @statistics_head("drop") {
    <div class="page-header">
      <h1>@area-@info 艦娘ドロップ<small><a href="@routes.ViewSta.dropAlpha(area, info)">Wiki版</a></small></h1>
    </div>

    <div>
      <p>ステージ後ろのアルファベットは<a target="_blank" href="http://wikiwiki.jp/kancolle/?%BD%D0%B7%E2#maps">艦これWiki出撃一覧</a>のアルファベットと対応しています</p>
      <p>アルファベットの無い海域は情報提供募集中です。<a target="_blank" href="https://docs.google.com/spreadsheets/d/1iAFrEpw64nc8YnVcyNb9hjG0jb1UMy_29zKhRlKc7Ig/edit?usp=sharing">こちら</a>から情報提供できます</p>
    </div>

    <div class="panel-group" id="accordion">
      @cells.map { cell =>
        <div class="panel panel-default" id="panel@cell.pointStr" data-cell="@cell.pointStr">
          <div class="panel-heading">
            <h2 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse@cell.pointStr">
                @cell.pointStr @if(cell.alphabet.nonEmpty){(@cell.alphabet)}
                <small>@if(cell.start){Start} @if(cell.boss){BOSS}</small>
              </a>
            </h2>
          </div>
          <div id="collapse@cell.pointStr" class="panel-collapse collapse" data-url="@routes.Rest.dropCell(cell.areaId, cell.infoNo, cell.cell, "(rank)")">
            <div class="panel-body">
              <label class="checkbox-inline">
                <input type="checkbox" v-model="dropOnly" />ドロップありのみ
              </label>
              <label class="checkbox-inline">
                <input type="checkbox" v-model="rank_s" />S勝利
              </label>
              <label class="checkbox-inline">
                <input type="checkbox" v-model="rank_a" />A勝利
              </label>
              <label class="checkbox-inline">
                <input type="checkbox" v-model="rank_b" />B勝利
              </label>
              <div style="width:900px;height:600px;margin:auto;" id="sunburst@cell.pointStr" class="sunburst"></div>
            </div>
            <table class="table table-condensed table-hover">
              <thead>
                <tr><th>艦種</th><th>名前</th><th>Count</th><th>Rate</th></tr>
              </thead>
              <tbody>
                <tr v-repeat="drop: drops" class="clickable" onclick="location.href='/entire/sta/from_ship#query={{ drop.getShipName }}&ship={{ drop.getShipId }}'">
                  <td>{{ drop.getShipType }}</td>
                  <td>{{ drop.getShipName }}</td>
                  <td>{{ drop.count }}</td>
                  <td>{{ drop.rate }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      }
    </div>
  }
}
