@(stage: Stage, cells: Seq[CellInfo])

@main {
  <title>@stage -艦娘ドロップ一覧-</title>
  <script src="@Js.Vue"></script>
  <script src="@Js.D3"></script>
  <script src="@Js.Lodash"></script>
  <script src="@Js.MomentLocales"></script>
  <script src="@Js.Lib("sunburst")"></script>
  <script src="@Js.Lodash"></script>
  <script src="@Js.Common"></script>
  <script src="@Js.Coffee("map_image")"></script>
  <script src="@Js.Coffee("drop")"></script>
  <link rel="stylesheet" href="@routes.Assets.at("stylesheet/sunburst.css")" />
} {
  @statistics_head("drop") {
    <input type="hidden" id="stage" data-area="@stage.area" data-info="@stage.info" />
    <div class="page-header">
      <h1>@stage 艦娘ドロップ<small><a href="@routes.ViewSta.drop(stage.area, stage.info)">ID版</a></small></h1>
    </div>

    <div>
      <p>ステージのアルファベットは<a target="_blank" href="http://wikiwiki.jp/kancolle/?%BD%D0%B7%E2#maps">艦これWiki出撃一覧</a>のアルファベットと対応しています</p>
    </div>

    <div>
      <canvas
        id="map_image"
        data-src="@routes.RestImage.map(stage.area, stage.info)"
        data-position="@routes.Rest.cellPosition(stage.area, stage.info)"
        data-cellinfo="@routes.Rest.cellInfo(stage.area, stage.info)"
        width="768px" height="435px"
        class="img-rounded">
      </canvas>
    </div>

    <div class="panel-group" id="accordion">
      @cells.map { cell =>
        <div class="panel panel-default" id="panel@cell.rawPointAlpha" data-cell="@cell.rawPointAlpha">
          <div class="panel-heading" data-cell="@cell.alphabet">
            <h2 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse@cell.rawPointAlpha">
                @cell.pointAlpha
                <small>@if(cell.start){Start} @if(cell.boss){BOSS}</small>
              </a>
            </h2>
          </div>
          <div id="collapse@cell.rawPointAlpha" class="panel-collapse collapse" data-url="@routes.Rest.dropCellAlpha(cell.areaId, cell.infoNo, cell.alphabet, "(rank)", "(from)", "(to)", "(mapRank)")">
            <form class="form-inline">
              <div class="panel-body">
                <div>
                  <label class="checkbox-inline">
                    <input type="checkbox" v-model="rank_s" />S勝利
                  </label>
                  <label class="checkbox-inline">
                    <input type="checkbox" v-model="rank_a" />A勝利
                  </label>
                  <label class="checkbox-inline">
                    <input type="checkbox" v-model="rank_b" />B勝利
                  </label>
                </div>
                <div>
                  <label class="checkbox-inline">
                    <input type="checkbox" v-model="map_rank_all"><strong>全て</strong>
                  </label>
                  <label class="checkbox-inline">
                    <input type="checkbox" v-model="map_rank_ko" v-attr="disabled: map_rank_all ? 'disabled' : null">甲
                  </label>
                  <label class="checkbox-inline">
                    <input type="checkbox" v-model="map_rank_otsu" v-attr="disabled: map_rank_all ? 'disabled' : null">乙
                  </label>
                  <label class="checkbox-inline">
                    <input type="checkbox" v-model="map_rank_hei" v-attr="disabled: map_rank_all ? 'disabled' : null">丙
                  </label>
                </div>
                <div>
                  <label class="checkbox-inline">
                    <input type="checkbox" v-model="dropOnly" />ドロップありのみ
                  </label>
                  <label class="checkbox-inline">
                    <input type="checkbox" v-model="period" />期間
                  </label>
                  <input type="text" class="datepicker form-control" v-model="from" />
                  〜
                  <input type="text" class="datepicker form-control" v-model="to" />
                </div>
                <div style="width:900px;height:600px;margin:auto;" id="sunburst@cell.rawPointAlpha" class="sunburst"></div>
              </div>
            </form>
            <table class="table table-condensed table-hover">
              <thead>
                <tr><th>艦種</th><th>名前</th><th>Count</th><th>Rate</th></tr>
              </thead>
              <tbody>
                <tr v-repeat="drop: drops" class="clickable" v-on="click: clickDrop(drop)">
                  <td>{{ drop.getShipType }}</td>
                  <td>{{ drop.getShipName }}</td>
                  <td>{{ drop.count }}</td>
                  <td>{{ drop.rate }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      }
    </div>
  }
}
