@(stages: Seq[(Stage, Long)])
@import models.join.Stage

@main {
  <title>ステージ選択 -海域情報-</title>
} {
  @statistics_head("drop") {
    <div class="page-header">
      <h1>海域情報(ステージ選択) <small><a href="#event">イベント海域はこちら</a></small></h1>
    </div>

    <table class="table table-striped">
      <tbody>
      @stages.map { case (stage, count) =>
        <tr>
          <th>@stage</th>
          <td>
            <a href="@routes.ViewSta.dropAlpha(stage.area, stage.info)">
              艦娘ドロップ(@count)
            </a>
          </td>
          <td>
            <a href="@routes.ViewSta.route(stage.area, stage.info)">
              羅針盤
            </a>
          </td>
        </tr>
      }
      </tbody>
    </table>
    <div id="event"></div>
  }
}
