@(q: String)

@main {
  <title>入手経路検索 -統計-</title>
  <script src="//cdnjs.cloudflare.com/ajax/libs/vue/0.10.3/vue.min.js"></script>
  <script src="@routes.Assets.at("javascript/from_ship.js")"></script>
} {
  @statistics_head("from_ship") {
    <div class="page-header">
      <h1>入手経路検索</h1>
    </div>

    <div id="from_name" class="row">
      <input type="text" id="search" class="form-control" placeholder="Search Fleet Girl or Slot Item" v-model="query" value="@q"/>

      <div class="col-md-2">
        <div class="list-group" v-show="ships.length > 0" style="margin-top:20px;margin-bottom:20px;">
          <a v-repeat="ship: ships" class="list-group-item" v-class="active: ship.id == shipId" v-on="click: selectShip(ship.id)" href="#" onclick="return false;">
            {{ship.name}}
          </a>
        </div>
        <div class="list-group" v-show="items.length > 0" style="margin-top:20px;margin-bottom:20px;">
          <a v-repeat="item: items" class="list-group-item"  v-class="active: item.id == itemId" v-on="click: selectItem(item.id)" href="#" onclick="return false;">
            {{item.name}}
          </a>
        </div>
      </div>

      <div class="col-md-10">
        <div v-show="sCounts.length > 0">
          <h3>建造レシピ</h3>
          <table class="table table-hover table-condensed" v-show="sCounts.length > 0">
            <thead>
              <tr>
                <th>燃料</th><th>弾薬</th><th>鉄鋼</th><th>ボーキ</th><th>資材</th><th>回数</th><th>比率</th>
              </tr>
            </thead>
            <tbody>
              <tr v-repeat="c: sCounts" onclick="location.href='/entire/sta/cship/{{c.mat.fuel}}/{{c.mat.ammo}}/{{c.mat.steel}}/{{c.mat.bauxite}}/{{c.mat.develop}}'" class="clickable">
                <td>{{c.mat.fuel}}</td>
                <td>{{c.mat.ammo}}</td>
                <td>{{c.mat.steel}}</td>
                <td>{{c.mat.bauxite}}</td>
                <td>{{c.mat.develop}}</td>
                <td>{{c.count}}</td>
                <td>{{(c.count / c.sum * 100).toFixed(1)}}%</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div v-show="dropCounts.length > 0">
          <h3>ドロップ</h3>
          <table class="table table-hover table-condensed">
            <thead>
              <tr>
                <th>Stage</th><th>Rank</th><th>ドロップ数</th><th>比率</th>
              </tr>
            </thead>
            <tbody>
              <tr v-repeat="c: dropCounts" class="clickable" onclick="location.href='/entire/sta/drop/{{c.cell.area}}/{{c.cell.info}}#cell={{c.cell.area}}-{{c.cell.info}}-{{c.cell.cell}}&rank={{c.cell.rank}}'">
                <td>{{c.cell.area}}-{{c.cell.info}}-{{c.cell.cell}}</td>
                <td>{{c.cell.rank}}</td>
                <td>{{c.count}}</td>
                <td>{{(c.count / c.sum * 100).toFixed(1)}}%</td>
              </tr>
            </tbody>
          </table>
        </div>

        <table class="table table-hover table-condensed" v-show="iCounts.length > 0">
          <thead>
            <tr>
              <th>燃料</th><th>弾薬</th><th>鉄鋼</th><th>ボーキ</th><th>艦種</th><th>回数</th><th>比率</th>
            </tr>
          </thead>
          <tbody>
            <tr v-repeat="c: iCounts" onclick="location.href='/entire/sta/citem/{{c.mat.fuel}}/{{c.mat.ammo}}/{{c.mat.steel}}/{{c.mat.bauxite}}/{{c.mat.sType}}'" class="clickable">
              <td>{{c.mat.fuel}}</td>
              <td>{{c.mat.ammo}}</td>
              <td>{{c.mat.steel}}</td>
              <td>{{c.mat.bauxite}}</td>
              <td>{{c.mat.sTypeName}}</td>
              <td>{{c.count}}</td>
              <td>{{(c.count / c.sum * 100).toFixed(1)}}%</td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  }
}
