@(area: Int, info: Int, dep: CellInfo, dest: CellInfo, depcounts: Seq[(Seq[String], Int)])

<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h3 class="modal-title">編成 @area-@info from @dep.cell to @dest.cell</h3>
  <div id="dep_dest" data-dep="@dep.cell" data-dest="@dest.cell"
</div>

<div class="modal-body">
  <table class="table table-condensed table-striped">
    <tbody>
      @depcounts.map { case (xs, count) =>
        <tr>
          @xs.padTo(6, "").map { stype =>
            <td>@stype</td>
          }
          <td>@count</td>
        </tr>
      }
    </tbody>
  </table>
</div>
