@(rankings: Seq[_root_.ranking.Ranking])

@main {
  <title>ランキング -MyFleetGirls-</title>
} {
  @statistics_head("ranking") {
    <div class="row">
      @rankings.map { ranking =>
        <div class="@ranking.divClass">
          <h2>@ranking.title</h2>
          <table class="table table-striped table-condensed">
            <tbody>
              @ranking.rankingQuery(20).map { case elem =>
                <tr>
                  <th>
                    @elem.url match {
                      case Some(url) => { <a href="@url">@elem.name</a> }
                      case None => { @elem.name }
                    }
                  </th>
                  <td>@elem.value</td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      }

      <div class="col-md-3 col-sm-4">
        <h2>注釈</h2>
        <ul>
          @rankings.flatMap(_.comment).distinct.map { comment =>
            <li>@comment</li>
          }
        </ul>
      </div>
    </div>
  }
}
