@(typ: _root_.ranking.common.RankingType)

@import _root_.ranking.common.RankingType

@main {
  <title>ランキング -MyFleetGirls-</title>
  <script src="@Js.Common"></script>
  <script src="@Js.Coffee("ranking")"></script>
  <style>
    ul.nav-pills {
      margin-top: 20px;
    }

    ul.nav-pills > li {
      margin-left: 5px;
      margin-right: 5px;
    }
  </style>
} {
  @statistics_head("ranking") {
    <ul class="nav nav-pills">
      <li role="presentation" @if(typ == RankingType.Admiral){ class="active" }><a href="@routes.ViewSta.rankingWithType("Admiral")">提督ランキング</a></li>
      <li role="presentation" @if(typ == RankingType.Ship){ class="active" }><a href="@routes.ViewSta.rankingWithType("Ship")">艦娘ランキング</a></li>
    </ul>

    <div class="row">
      @typ.rankings.map { ranking =>
        <div class="@ranking.divClass">
          <h2><a data-toggle="modal" href="@routes.ViewSta.rankingDetails(ranking.toString)" class="modal_link" data-target="#modal" data-name="@ranking">@ranking.title</a></h2>
          <table class="table table-striped table-condensed">
            <tbody>
              @ranking.rankingQuery(20).map { case elem =>
                <tr>
                  <th>
                    @elem.url match {
                      case Some(url) => { <a href="@url">@elem.name</a> }
                      case None => { @elem.name }
                    }
                  </th>
                  <td>@elem.data.toElem</td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      }

      <div class="col-md-3 col-sm-4">
        <h2>注釈</h2>
        <ul>
          @typ.rankings.flatMap(_.comment).distinct.map { comment =>
            <li>@comment</li>
          }
        </ul>
      </div>
    </div>

    <div class="modal fade bs-example-modal-sm" aria-hidden="true" role="dialog" aria-labelledby="modalLabel" id="modal">
      <div class="modal-dialog modal-sm">
        <div class="modal-content"></div>
      </div>
    </div>
  }
}
