@(stage: Stage)

@main {
  <title>@stage -羅針盤-</title>
  <script src="@Js.Vue"></script>
  <script src="@Js.Common"></script>
  <script src="@Js.MomentLocales"></script>
  <script src="@Js.Coffee("route")"></script>
} {
  @statistics_head("drop") {
    <div id="route_table" data-area="@stage.area" data-info="@stage.info">
      <div class="page_header">
        <h1>@stage 羅針盤</h1>
      </div>

      <form class="form-inline" role="form" action="@routes.ViewSta.statistics()">
        <div class="checkbox">
          <label>
            <input type="checkbox" v-model="period" /> 期間
          </label>
        </div>
        <input type="text" class="form-control date-picker" v-model="from">
        〜
        <input type="text" class="form-control date-picker" v-model="to">
      </form>

      <p>海図との対照表は<a href="http://wikiwiki.jp/kancolle/?%BD%D0%B7%E2#maps">Wiki</a>よりどうぞ</p>

      <table class="table table-hover table-condensed">
        <thead>
          <tr>
            <th>from</th><th>TO</th><th>Count</th><th>Rate</th>
          </tr>
        </thead>
        <tbody>
          <tr v-repeat="route: routes" class="clickable" v-on="click: modaling(route)">
            <td v-html="viewCell(route.dep)"></td>
            <td v-html="viewCell(route.dest)"></td>
            <td>{{route.count}}</td>
            <td>{{viewRate(route)}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Modal -->
    <div class="modal fade bs-example-modal-lg" aria-hidden="true" role="dialog" aria-labelledby="modalLabel" id="modal">
      <div class="modal-dialog modal-lg">
        <div class="modal-content"></div>
      </div>
    </div>
  }
}
