@(master: MasterShipAll, ships: Seq[ShipWithAdmiral], admiral: Option[Admiral])

@main {
  <title>@master.name -艦娘図鑑-</title>
  <script src="@Js.Vue"></script>
  <script src="@Js.Coffee("st_ship_book")"></script>
} {
  @statistics_head("ship_book") {
    <h1>@master.stName @master.name<small>@master.yomi</small></h1>

    <div class="col-lg-3 col-md-4 col-sm-5">
      <img src="@routes.RestImage.ship(master.id, 5)" style="margin: 25px;"/>
      @admiral.map { ad =>
        <small>画像提供： <a href="@routes.UserView.user(ad.id)">@ad.nickname</a></small>
      }
    </div>

    <div class="row" id="from_name" data-ship-id="@master.id">
      <div class="col-md-3 col-sm-5">
        <h3>艦娘ステータス</h3>
        <table class="table table-condensed table-striped">
          <tbody>
            <tr>
              <th>改造</th>
              <td>
                @if(master.beforeShip.nonEmpty) {
                  @master.beforeShip.map { b => <a href="@routes.ViewSta.shipBook(b.id)">@b.name <small>
                    Lv@b.afterLv</small></a>
                  }
                  →
                }
                @master.name
                @master.afterShip.map { a => <small>Lv@master.afterLv</small>→<a href="@routes.ViewSta.shipBook(a.id)">@a.name</a> }
              </td>
            </tr>
            @master.afterResource.map { res =>
              <tr><th>改造資源</th><td>@res.mkString("/")</td></tr>
            }
            <tr><th>HP</th><td>@master.hp</td></tr>
            <tr><th>火力</th><td>@master.karyoku.mkString("/")</td></tr>
            <tr><th>雷装</th><td>@master.raisou.mkString("/")</td></tr>
            <tr><th>対空</th><td>@master.taiku.mkString("/")</td></tr>
            <tr><th>装甲</th><td>@master.souko.mkString("/")</td></tr>
            <tr><th>運</th><td>@master.lucky.mkString("/")</td></tr>
            <tr><th>射程</th><td>@{master.length}射程</td></tr>
            <tr><th>燃料/弾薬</th><td>@master.fuel/@master.bull</td></tr>
            <tr><th>解体時資源</th><td>@master.broken.mkString("/")</td></tr>
            <tr><th>近代化能力</th><td>@master.powerup.mkString("/")</td></tr>
            <tr><th>建造時間</th><td>@{master.buildtime}分</td></tr>
            <tr><th>レアリティ</th><td>@master.backs</td></tr>
          </tbody>
        </table>
      </div>

      <div class="col-md-4 col-sm-5">
        <h3>所持ユーザ</h3>
        <table class="table table-condensed table-striped">
        @ships.zipWithIndex.map { case (ship, i) =>
          <tr>
            <th>@{i + 1}</th>
            <th><a href="@routes.UserView.ship(ship.admiral.id)#modal=true&id=@ship.id">@ship.admiral.nickname</a></th>
            <td>@master.name<small>Lv@ship.lv</small></td>
          </tr>
        }
        </table>
      </div>

      <div v-show="sCounts.length > 0" class="col-sm-7">
        <h3>建造レシピ</h3>
        <table class="table table-hover table-condensed" v-show="sCounts.length > 0">
          <thead>
            <tr>
              <th>燃料</th><th>弾薬</th><th>鉄鋼</th><th>ボーキ</th><th>資材</th><th>回数</th><th>比率</th>
            </tr>
          </thead>
          <tbody>
            <tr v-repeat="c: sCounts" onclick="location.href='/entire/sta/cship/{{c.mat.fuel}}/{{c.mat.ammo}}/{{c.mat.steel}}/{{c.mat.bauxite}}/{{c.mat.develop}}'" class="clickable">
              <td>{{c.mat.fuel}}</td>
              <td>{{c.mat.ammo}}</td>
              <td>{{c.mat.steel}}</td>
              <td>{{c.mat.bauxite}}</td>
              <td>{{c.mat.develop}}</td>
              <td><strong>{{c.count}}</strong> / {{c.sum}}</td>
              <td>{{(c.count / c.sum * 100).toFixed(1)}}%</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div v-show="dropCounts.length > 0" class="col-sm-5">
        <h3>ドロップ</h3>
        <table class="table table-hover table-condensed">
          <thead>
            <tr>
              <th>Stage</th><th>Rank</th><th>ドロップ数</th><th>比率</th>
            </tr>
          </thead>
          <tbody>
            <tr v-repeat="c: dropCounts" class="clickable" onclick="location.href='/entire/sta/drop/{{c.cell.area}}/{{c.cell.info}}#cell={{c.cell.area}}-{{c.cell.info}}-{{c.cell.cell}}&rank={{c.cell.rank}}'">
              <td v-if="c.cell.alpha">{{c.cell.area}}-{{c.cell.info}}-{{c.cell.alpha}} ({{c.cell.cell}})</td>
              <td v-if="!c.cell.alpha">{{c.cell.area}}-{{c.cell.info}}-{{c.cell.cell}}</td>
              <td>{{c.cell.rank}}</td>
              <td><strong>{{c.count}}</strong> / {{c.sum}}</td>
              <td>{{(c.count / c.sum * 100).toFixed(1)}}%</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  }
}
