@(active: String)(body: Html)

@navbar("statistics")

<div class="jumbotron">
  <div class="container">
    <h1>Statistics<small>統計</small></h1>
    @tweet()
  </div>
</div>

<div class="container theme-showcase" role="main">
  <ul class="nav nav-tabs">
    <li class="@if(active=="activities"){active}">
      <a href="@routes.ViewSta.activities()">Top</a>
    </li>
    <li class="@if(active=="from_recipe"){active}">
      <a href="@routes.ViewSta.statistics()">建造開発レシピ</a>
    </li>
    <li class="@if(active=="from_ship"){active}">
      <a href="@routes.ViewSta.fromShip()">入手経路検索</a>
    </li>
    <li class="@if(active=="drop"){active}">
      <a href="@routes.ViewSta.dropStage()">海域</a>
    </li>
    <li class="@if(active=="ranking"){active}">
      <a href="@routes.ViewSta.ranking()">ランキング</a>
    </li>
    <li class="@if(active=="ship_book"){active}">
      <a href="@routes.ViewSta.shipList()">艦娘図鑑</a>
    </li>
    <li class="@if(active=="remodel"){active}">
      <a href="@routes.ViewSta.remodelSlot()">装備改修</a>
    </li>
    <li class="@if(active=="search_snap"){active}">
      <a href="@routes.ViewSta.searchSnap()">スナップショット</a>
    </li>
  </ul>

  <div class="tab-content">
    @body
  </div>

</div>
