@(active: String)(body: Html)

@navbar("statistics")
<div class="container theme-showcase" role="main">

  <div class="jumbotron">
    <h1>Statistics<small>統計</small></h1>
    @tweet()
  </div>

  <ul class="nav nav-tabs">
    <li class="@if(active=="from_recipe"){active}">
      <a href="@routes.View.statistics">レシピから</a>
    </li>
    <li class="@if(active=="from_ship"){active}">
      <a href="@routes.View.fromShip">艦娘から</a>
    </li>
  </ul>

  <div class="tab-content">
    @body
  </div>

</div>
