@()

@main {
  <title>FAQ</title>
} {
  @about_head("faq") {
    <h3 id="password">Q.パスワードってなんですか</h3>
    <p>
      このサイトのパスワードです。艦これ内のmember_idと紐付けられています。
      嫁鑑を設定したり、艦隊のSnapshotを取るときに必須となります。
      一度パスワードでログインすると、以後Clientからのデータ転送にもパスワードが必要です。
      DMMのアカウントとは関係ありません。
    </p>

    <h3>Q.パスワードはどうやって設定しますか</h3>
    <p>
      application.confに設定を書きます。書き方はapplication.conf.sampleを参考に、auth.passを設定してください。
      application.confが無い場合は、application.conf.sampleをコピーして作成してください。
    </p>

    <h3>Q.艦これの認証データとかTokenとか送ったりしてないですよね！？</h3>
    <p>
      送ってないです。ただし技術的には可能です。ぽんこつさんを信用できるか、公開されたコードを読める人のみ利用してください。
    </p>

    <h3>Q.どれぐらいのデータが公開されますか</h3>
    <p>
      艦これの情報ほぼ全部と思って下さい。現在取ってないデータでも将来的に取得するようになる可能性があります。
      そしてそれらは少なくともぽんこつさんには見えていますし、他の人にも見える状態で公開することが多いです。
      今のところ例外は演習の対戦相手です。本人以外のデータは取らないように心掛けています。
    </p>

    <h3>Q.パスワード忘れてしまいました・再設定したい</h3>
    <p>
      現在パスワードリセット機能はありません。
      公式Twitter（<a href="https://twitter.com/MyFleetGirls">@@MyFleetGirls</a>）
      または作者（<a href="https://twitter.com/ponkotuy">@@ponkotuy</a>）まで連絡いただければ手動でリセットします。
      軽い本人確認することもあるかと思いますがご協力お願いします。
    </p>

    <h3>Q.海域マップのアルファベットが付いてない海域があるんだけど</h3>
    <p>
      海域マップのアルファベットはAPIのデータから分からないので手動で付けています。
      作者の手に負えないところもあり、<a href="https://docs.google.com/spreadsheets/d/1iAFrEpw64nc8YnVcyNb9hjG0jb1UMy_29zKhRlKc7Ig/edit#gid=0">ここ</a>から情報提供をお願いしています。
    </p>

    <h3>Q.なんかユーザの鑑娘図鑑に100000越えの鑑娘がいるんだけど</h3>
    <p>仕様です。</p>
    <p>
      改になっても新しい図鑑番号が振られないが、別の画像が登録される鑑娘に限り、
      内部的に+100000番したものを改として扱っています。
    </p>
  }
}
