@()

@main {
  <title>About MyFleetGirls</title>
} {
  @about_head("about") {
  <section id="about">
    <h2>なにこれ</h2>
    <p>自分の艦これデータを公開できるツールです。</p>
    <p>艦これやってて「艦これの進捗とか嫁鑑とか、他人に見せれたら便利だなー」と思って作りました。</p>
    <p>他の艦これツールにありがちな遠征時間などのチェック機能も付いてます。</p>
  </section>

  <section id="getstarted">
    <h2>インストール・使い方</h2>
    <ol>
      <li>Java7（JRE7）以降がインストールされてない場合はする <a href="http://java.com/ja/download/">JavaDownload</a></li>
      <li><a href="@routes.Assets.at("zip/MyFleetGirls.zip")">DownloaderのDownload</a></li>
      <li>ZIPファイルを解凍</li>
      <li>MyFleetGirls.shかMyFleetGirls.batを起動する</li>
      <li>PACファイルを使ってブラウザのProxy設定をする。<a href="@routes.Assets.at("proxy.pac")">http://myfleet.moe/assets/proxy.pac</a>をブラウザにセット（PACファイルの設定方法はGoogle先生からどうぞ）</li>
      <li>設定したブラウザで艦これのFlashを起動する</li>
      <li>しばらくゲームが進んだ後に<a href="@routes.View.index()">http://myfleet.moe/</a>にアクセスすると閲覧できるようになっている</li>
    </ol>
  </section>
  }
}
